[2013-11-04 13:48] x2on opened #4 "Compare doesn't work for UILabel"
I made a test and recored the image with the following code:

[code]

Then i changed it to the following code:

[code]

When i rerun the test it succeeded instead of failing.

In the

[code]

i used quicklook and the label is in the `image`, but the compare algorithm doesn't fail.

[2014-01-14 13:47] dblock opened #7 "Support Specta/Expecta"
For those of us using [specta](https://github.com/specta/specta), it could be interesting to be able to write `FBSnapshotTestCase` tests as follows:

[code]

To make this happen I think we need to refactor `FBSnapshotTestCase` a bit and add Specta matches.

What do you think?

[2014-01-14 15:32] dblock opened #9 "Should FBTestSnapshotController be FBSnapshotTestController?"
Seems like `FBTestSnapshotController` vs `FBSnapshotTestCase` are inconsistent. I'm adding a third class in #8, and wondering whether I should add `FBTestSnapshotRecorder` or `FBSnapshotTestRecorder`.

[2014-01-14 22:22] dblock opened #10 "Setting FB_REFERENCE_IMAGE_DIR via prefix-header-contents doesn't do anything"
I think https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestCase.podspec#L24 doesn't do anything useful. It literally sets the value to "$(SOURCE_ROOT)/$(PROJECT_NAME)Tests/ReferenceImages" (doesn't resolve SOURCE_ROOT for example. It also sets that on the Pod project, you want it on the test project so that the macros can pick it up.

Am I missing something?

[2014-02-12 18:12] NachoMan opened #12 "Views utilizing auto layout don't update"
I'm trying to find a work around, but for the time being, I wanted to reach out here and see if there's a way to utilize FBSnapshotTestCase with views that use Auto Layout for layout and positioning of its contents.  Currently the contents are completely empty when a snapshot is taken.

[2014-02-16 18:18] #4 closed, assigned to nobody

[2014-03-03 14:31] #9 closed, assigned to nobody

[2014-03-07 08:14] rbsgn opened #18 "Update pod version to include built-in image diffing and Expecta support"
The library gained support for built-in image diffing and Expecta support. Now community needs new version published at CocoaPods. I simply can't do this since only owners could update the spec. Could you please do this?

[2014-03-09 13:07] #18 closed, assigned to nobody

[2014-03-09 13:08] #7 closed, assigned to nobody

[2014-03-13 14:26] dblock opened #20 "Cannot get a correct screenshot from a view that overrides drawRect"
I am not sure what the deal is, but a view with custom drawing is not screen-shotted properly. There's a test in https://github.com/dblock/NAMapKit/blob/tiled-map-view/Demo/DemoTests/NATiledImageMapViewControllerTests.m#L24 that reproduces this.

[2014-03-13 14:40] grantjk opened #21 "Some images recorded on 32 bit simulator will result in test failure on 64 bit devices"
I'm not sure what is causing this or if it would be fixed by #19.

For some of our snapshot tests, if we record them on the 32 bit simulator and then immediately run it back in the 64 bit simulator, it results in a test failure - but there's no visible difference in the images.  Same if we record in 64 bit and test in 32 bit. This doesn't happen for every image, but for the images it does fail, it

[2014-03-13 15:57] dblock opened #22 "Report a detailed error when the snapshot image size doesn't match"
In some cases you have a snapshot using a simulator of a different size. Instead of just reporting that the snapshot doesn't match, report that the sizes don't match (with the sizes included in the error).

It took me a while to figure out that the simulator running on Travis-CI was a 4'' one for example (no idea why that's the default, btw).

[2014-03-14 15:26] #20 closed, assigned to nobody

[2014-03-17 17:18] #22 closed, assigned to nobody

[2014-03-18 12:54] dblock opened #27 "Inconsistent rendering between runs"
It seems possible to get different images between different runs. It seems like "running the first time" on a new machine will produce a failure, then recording a new snapshot creates a byte-identical image, then running the test again succeeds. I've tried all kinds of things to get a handle on this one, #19 does not fix the problem.

Here're images from the first failure.
### Failed

![failed_def

[2014-03-18 21:13] #21 closed, assigned to nobody

[2014-03-25 02:31] dblock opened #29 "Snapshot doesn't respect device orientation"
The snapshot being taken is always portrait. This is incorrect when the device is forced into landscape orientation, for example. I've modified the demo app in https://github.com/dblock/ios-snapshot-test-case/tree/orientation-issues to display a rectangle in the middle of the screen.

In landscape, it should look like this:

![image](https://f.cloud.github.com/assets/542335/2507790/7152c96e-b3c5-1

[2014-03-25 14:14] #29 closed, assigned to nobody

[2014-03-25 17:59] dblock opened #32 "Add CHANGELOG"
https://github.com/facebook/ios-snapshot-test-case/pull/26 was closed, opening this one to make sure it's not forgotten.

[2014-03-25 22:27] dblock opened #33 "Crash when drawing a view from a unit test"
I made a plain unit test project, starting from an Empty XCode project and adding a "Cocoa Touch Unit Testing Bundle" target.

There's a warning there about "unknown device type", it looks related.

Drawing a view crashes as follows:

[code]

Repro in https://github.com/dblock/ARASCIISwizzle/tree/project-reorg-top-level, Tests project.

[2014-03-26 12:09] #33 closed, assigned to nobody

[2014-04-07 21:11] orta opened #35 "Header documentation out of sync"
Most of these don't match up to their arguments: https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestController.h#L43-L147

[2014-04-16 12:52] x2on opened #36 "Skip tests on other devices?"
Hi,

has anybody a good idea to skip tests on other devices?
So if i make an view test on an iPhone i'd like to skip it on iPad.

I could do a if clause before the assert, but then Xcode runs the tests and only skip the assert.

Any idea?

[2014-04-16 14:48] dblock opened #37 "View snapshots stretch text"
I upgraded from 1.1 to HEAD and my snapshots that contain text look like this:

before:

![image](https://cloud.githubusercontent.com/assets/542335/2720938/df5d8cca-c575-11e3-8b07-d64e2995cb25.png)

after:

![image](https://cloud.githubusercontent.com/assets/542335/2720944/e5e410a0-c575-11e3-8d42-7c1f0a611acd.png)

These are all basic views that use auto-layout. I create them in tests and assign `

[2014-04-16 15:25] #32 closed, assigned to nobody

[2014-04-18 13:23] dblock opened #38 "Allow approximate comparison with a margin of error"
Check out https://github.com/aleph7/AIImageCompare, it supports mean image comparison where you don't have to have exactly identical images. This may be useful for cases where there're, say, anti-aliasing marginal errors in image comparison.

[2014-06-05 09:52] rbsgn opened #39 "[Xcode 6 beta] Can't build library: FBSnapshotTestCase.m:77:65: Property 'selector' not found on object of type 'FBSnapshotTestCase *'"
**Steps to reproduce:**
1. Clone `ios-snapshot-test-case` demo project: `git clone git@github.com:facebook/ios-snapshot-test-case.git`
2. Open demo project `FBSnapshotTestCaseDemo/FBSnapshotTestCaseDemo.xcodeproj`
3. Hit Cmd + U

**Actual result:**
Build fails with following error:

[code]

[2014-06-13 03:17] #39 closed, assigned to nobody

[2014-07-10 01:45] fcy opened #41 "Support Running on Device"
It would be awesome if running on device worked, I get error that the reference image doesn't exist because it is trying to access the image on the Mac.

Do you think it would be possible to bundle the reference images into the test target so that running on device would work?

[2014-09-11 06:04] plu opened #45 "Release 1.2"
Hi,

now that the Xcode 6 GM is out the door, it would be really cool if you could cut a new release. People will start switching to Xcode 6 soon, I guess.  Then they'll run into the bug that has been fixed in c405587e1fcf363c78b52f0805a32504614f193e.

What do you think?

Thanks,
plu

[2014-09-11 18:23] #45 closed, assigned to nobody

[2014-09-15 13:55] tapwork opened #47 "Tests are failing since 1.2 with drawViewHierarchyInRect:afterScreenUpdates"
Since release 1.2 and the changes with `drawViewHierarchyInRect:afterScreenUpdates` most of our tests are failing. Release 1.2 is not usable for us.
Why is `drawViewHierarchyInRect:afterScreenUpdates` necessary? Performance?

[2014-09-16 08:30] x2on opened #48 "Xcode 6 / iOS 8: Compare of transparent views with rgb color on it"
Since Xcode 6 / iOS 8 there is a major bug in the compare of two images:

If you have a `UIView`

[code]

with a `drawRect:` method

[code]

and `view.backgroundColor = [UIColor clearColor];` compare always fails.

If you use `[UIColor greenColor]` instead of `[UIColor lightGrayColor]` for stroke it also works!
So every color that has a other value then `1.0` or `0.0` for any rgb value fails.

If

[2014-09-22 18:54] #48 closed, assigned to nobody

[2014-09-26 15:33] yas375 opened #50 "How do you handle differences in rendering between iOS7 and iOS8?"
I've noticed that reference images recorded when tests were running on iOS7 are not the same when running on iOS8. Looks like there are some updates in UIKit which result in different rendering. For example on the screenshot below there is screenshot recorded on iOS7 on the left and on iOS8 on the right. Note that accessory indicator on iOS8 has less padding on the right.

![2014-09-26_1802](https

[2014-10-02 08:28] ashfurrow opened #52 "Empty view snapshots"
Hey all. I'm having a really weird, intermittent problem when I try and snapshot a view belonging to a controller that's been loaded from a Storyboard in iOS 8. Lots of details of what I've tried so far are [here](http://stackoverflow.com/questions/26156660/empty-uiview-snapshots-from-view-controller-loaded-from-storyboard-in-xctest-tes), but the gist of it is that the image rendered from `drawVie

[2014-10-24 18:28] #27 closed, assigned to nobody

[2014-12-12 02:16] cfcommando opened #55 "Incorrect documentation for compareSnapshotOfViewOrLayer"
In FBSnapshotTestController.h, its docblock contains parameters copied from -compareSnapshotOfView which don't match its actual parameters.

[2014-12-15 23:50] cfcommando opened #56 "Support AsyncDisplayNode"
We'd like to test AsyncDisplayNode with snapshots.

At the very least, testing by synchronously forcing view/layer display should be workable?

cc @secretiverhyme

[2014-12-16 21:52] #56 closed, assigned to nobody

[2015-01-16 01:55] toddlee commented on #52
For what it's worth..

It seems like when auto layout is involved, it almost always fails. However, pausing by putting a breakpoint makes it pass which made me think this is related to timing issue.
And.. with this code,

[code]
I confirmed that it always passes (at least I didn't get any intermittent failure).. so it is definitely related to some timing issue. Until someone has a correct fix, I'l

[2015-01-16 09:28] ashfurrow commented on #52
@toddlee That's odd – we've been using this on [our project](https://github.com/artsy/eidolon) for months with no problems. If it's not too much trouble, could you provide a sample project demonstrating the problem?

[2015-01-16 19:58] toddlee commented on #52
@ashfurrow Sorry.. it was actually not doing its job correctly. Since that block is run after the test ends, it doesn't actually compare images.
I am still getting empty snapshots and using renderAsLayer doesn't fix it either (it renders something, but not in the correct way)

[2015-01-16 20:03] grantjk commented on #52
@toddlee We've also had troubles with the renderAsLayer approach - views not properly being laid out  by the time the screenshot is taken. We've had to resort to running all our snapshots against the iOS7 simulator which is 100% reliable.

In our case I think the issue relates to views with nested custom views with their own constraints - or views that have conditionally updated constraints - but

[2015-01-16 20:51] toddlee commented on #52
@grantjk We have the same nested custom views with own constraints. We also have other views that don't use AutoLayout and are not seeing this issue. We're in the middle of migrating to autolayout and those views using autolayout seem to fail.
Interestingly, if only the failing test is run, it passes. However if I run the whole test suites, it fails.

[2015-01-16 21:31] dstnbrkr commented on #52
Anyone willing to contribute a failing test case?

[2015-01-17 05:41] grantjk commented on #52
I will see if I can whip something together in the next few days

[2015-01-19 12:26] FGoessler commented on #52
We have some similar issues and also suspect a timing issue. Our working workaround is adding the following lines to our basic XCTestCase subclass from which all our other test cases inherit.

[code]

We assume that some UIKit framework stuff isn't initialised when the tests start and waiting a little while gives the frameworks enough time to settle.

[2015-01-23 04:49] jgapps commented on #52
@dstnbrkr Here's an example showing renderAsLayer = YES and NO producing a much different layout.  We can't use renderAsLayer = NO in iOS8 because of the aforementioned empty views. We've resorted to just recording and running everything on iOS7

https://github.com/grantjk/SnapshotLayerFailingTestCase

Hope that helps

[2015-01-23 05:15] dstnbrkr commented on #52
this is great. thanks!

On Thu, Jan 22, 2015 at 8:49 PM, jgapps <notifications@github.com> wrote:

[2015-01-23 06:02] toddlee commented on #52
@jgapps That renderAsLayer=NO/iOS8 looks pretty similar to our case. Thanks for providing a reproducible test! Looking forward to the fix.

[2015-01-23 12:29] ashfurrow opened #58 "Push new version to CocoaPods Trunk"
Hi there! I had a commit [merged in](https://github.com/facebook/ios-snapshot-test-case/commit/77dd60b09ca8f4bd021a40024d90e2ae3077f164) about two months ago, and I'd like to rely on that commit for a CocoaPod [that I'm building](https://github.com/ashfurrow/nimble-snapshots). Could someone tag a release on or after that tag (say, 1.4.1 or something)? Then we can update the podspec to point to tha

[2015-01-23 19:23] dstnbrkr commented on #58
All set! Seems like these updates take a bit to propagate.

[2015-01-23 19:23] #58 closed

[2015-01-24 17:09] ashfurrow commented on #58
Thanks! :beers:

[2015-01-24 21:58] dstnbrkr commented on #52
If I'm understanding right, @ashfurrow describes this case:
fails when renderAsLayer = NO (i.e. drawViewHierarchyInRect)
succeeds when renderAsLayer = YES

however, @grantjk's test case demonstrates the opposite:
succeeds when renderAsLayer = NO
fails when renderAsLayer = YES

[2015-01-24 22:07] ashfurrow commented on #52
Is it possible that we're seeing more than one problem? In [my use](https://github.com/ashfurrow/Nimble-Snapshots/blob/6309073dba0b1411a590acc6d9f1128cc5b0222d/HaveValidSnapshot.swift#L12-L18), I always call `beginAppearanceTransition()` and `endAppearanceTransition()` on the view controller before snapshotting it to avoid incorrect states. Since @grantjk's example loads the view from a nib instea

[2015-01-25 00:30] toddlee commented on #52
@ashfurrow In our test case, we instantiated a view directly without the view controller. Looks like I can't try out that `beginAppearanceTransition()` `endAppearanceTransition()`. Any suggestion?

[2015-01-25 00:33] ashfurrow commented on #52
@toddlee I wish I did – I've never had to snapshot views that are loaded from a nib. Usually they're programmatically constructed or belong to a view controller in a storyboard/xib.

[2015-01-25 00:41] toddlee commented on #52
@ashfurrow We construct all views programmatically too..
I'll try to create a test that reproduces our issue.

[2015-01-25 02:20] dstnbrkr commented on #52
Tried @grantjk's [test case](https://github.com/grantjk/SnapshotLayerFailingTestCase). It doesn't show us a snapshot bug. It does illustrate the layout differences between with and without calling drawViewHierarchyInRect:afterScreenUpdates:.

I used [chisel visualize](https://github.com/facebook/chisel) to see that [self.emptyView](https://github.com/grantjk/SnapshotLayerFailingTestCase/blob/31f0d

[2015-01-27 14:12] stkhapugin commented on #21
I've ran into similar issues. No colors involved: I've checked my views in black and white. Indeed, autolayout's non-integral coordinates get rounded differently on 32 and 64 bit architectures. This is especially noticeable when laying out something with UILabels.
One possible workaround I see is to NOT use labels in tested views. This should account for text rendering nuances.
Personally I don't

[2015-03-09 14:02] neilkimmett opened #60 "WatchKit support?"
I assume theres no way to use `FBSnapshotTestCase` with `WKInterfaceController`s from WatchKit? I'm pretty certain theres no way to render a `WKInterfaceController` outside of the simulator but I may be missing something.

[2015-03-09 18:42] orta commented on #60
To my knowledge, this cannot be done using the public API.
That said, can you even run unit tests against a watch kit app? I'm not sure if you can run bundles against bundles

[2015-03-10 10:47] neilkimmett commented on #60
Thats a very good point. Until now all the code in my watch app that I've been testing is actually shared code with my main app target.

[2015-03-11 09:12] neilkimmett commented on #60
I've done some digging around in the private APIs and can't find any way to render a `WKInterfaceObject` to a `UIView` :disappointed:. I'm guessing this will have to wait until the full SDK comes out.

[2015-03-11 16:56] dstnbrkr commented on #60
Thanks for digging @neilkimmett.

[2015-03-11 16:56] #60 closed

[2015-03-15 05:12] dzenbot opened #61 "Snapshots with system keyboard"
Is this possible to achieve? Some of the tests I'm running depend of the system keyboard to be displayed as well. I've tried many things, without success.

[2015-03-15 15:39] dstnbrkr commented on #61
Hi @dzenbot, could you share a code example of what isn't working?

[2015-03-17 18:04] dstnbrkr commented on #10
Removed additional config in favor of default setting in FBSnapshotTestCase.h

[2015-03-17 18:04] #10 closed

[2015-03-17 18:05] dstnbrkr commented on #12
Inactive issue (1 year)

[2015-03-17 18:05] #12 closed

[2015-03-17 19:40] dstnbrkr commented on #52
Removed drawViewHierarchyInRect:afterScreenUpdates:, as that was the culprit of the original reported issue. If the tangent issues still persist, please open a new issue.

[2015-03-17 19:40] #52 closed

[2015-03-17 19:40] #47 closed

[2015-03-17 19:41] dstnbrkr commented on #37
Closing this issue as stale - please reopen with a test case if you're still hitting it.

[2015-03-17 19:41] #37 closed

[2015-03-17 20:59] orta commented on #37
Not seen it in forever, seems reasonable.

[2015-03-17 21:01] orta commented on #61
This was to support things like: https://github.com/slackhq/SlackTextViewController/raw/master/Screenshots/slacktextviewcontroller_demo.gif

I believe @dzenbot fixed it by looking at the root window instead of a view in particular.

[2015-03-17 21:03] #61 closed

[2015-03-17 21:11] dstnbrkr commented on #37
For posterity - my guess is that there was a view initialized with init instead of initWithFrame. The latter is the designated initializer, the former doesn't set up the CGContext correctly.

[2015-03-17 21:17] orta commented on #37
This is definitely something that could have happened.

[2015-03-17 22:04] dstnbrkr commented on #36
#64 allows for multiple reference image sets. Restricting which simulators the tests run on is a job for the CI infra running snapshot tests.

[2015-03-17 22:04] #36 closed

[2015-03-17 22:04] dstnbrkr commented on #50
It's now possible to specify a reference image directory suffix so that you can keep multiple sets of reference images (i.e. one for iOS 7, another for iOS 8).

[2015-03-17 22:04] #50 closed

[2015-03-20 20:48] sahrens opened #65 "64 bit reference images should be saved to a separate directory."
64-bit runs often render text slightly different, causing snapshot failures if run on the wrong device.

[2015-03-20 21:30] dstnbrkr commented on #65
Same problem with different iOS versions. Recently added FBSnapshotVerifyViewWithReferenceDirectorySuffix to support these differences in general. Wrap that call with your own to map configurations to reference image directories.

Here's an example for 64 bit snapshots:

#define Suffix() \
({ \
#if __LP64__
  NSString *suffix = @"_64"; \
#else
  NSString *suffix = @""; \
#endif
})

#define VerifyV

[2015-03-21 10:13] x2on commented on #65
I also have some macros for that, and for device format (iPhone 5, iPad 2, ...).

Would be nice if we could put this in folders without defining some macros.

[2015-03-23 11:35] itsthejb commented on #38
:+1:

[2015-04-01 15:53] tombatesuk opened #66 "drawViewHierarchyInRect:afterScreenUpdates: & Autolayout"
It would seem that we have been relying on the drawViewHierarchyInRect:afterScreenUpdates: that was called before being removed in #63.
The specific issue is that a view is marked and not installed in the storyboard for some size classes but is still appearing is now appearing.
The work around we are currently using through lack of a better alternative is to just call:
[code]
before our expectatio

[2015-04-01 17:10] dstnbrkr commented on #66
Hi @tombatesuk - it seems drawViewHierarchyInRect:afterScreenUpdates: has side-effects that some tests depend on and others fail as a result of. I'm curious to find out what's going on under the hood so we can apply those side effects directly or at least better understand them.

If you could provide a small failing test case (or one that only succeeds when you call drawViewHierarchyInRect:afterSc

[2015-04-02 07:39] tombatesuk commented on #66
@dstnbrkr I will look at creating and small test project with a view and test that mimics the results that we are experiencing and send it over.

[2015-04-02 12:11] tombatesuk commented on #66
@dstnbrkr Here is a test project that shows how using drawViewHierarchyInRect:afterScreenUpdates: can affect the snapshot.
The project has two reference images for the same view controller. In this instance the spec using drawViewHierarchyInRect:afterScreenUpdates: is the correct snapshot.
https://github.com/tombatesuk/snapshot-test

[2015-04-04 00:44] dstnbrkr commented on #66
Thanks @tombatesuk, I see the issue. Because you're testing a UIView via a UIViewController via a UIStoryboard, the view you're expecting to see is the state of the view one runloop tick later.

Here's what's happening in the passing test:
- instantiate controller
- drawViewHierarchyInRect:afterUpdates:YES is called // blocks for one run loop tick
- snapshot test passes (extra runloop tick waited

[2015-04-04 00:44] #66 closed

[2015-04-04 00:47] dstnbrkr commented on #66
The tl;dr on the above is:

It's correct for tests to use drawViewHierarchyInRect:afterUpdates:YES or any other means of ticking the runloop when the view under test is async.

[2015-04-08 09:50] eagle-dan1349 commented on #41
Any news regarding this one?
Or at least, what should copy reference images phase look like to work correctly?

[2015-04-08 17:13] dstnbrkr commented on #41
I imagine it would need to (conditionally) copy the contents of your reference image directory. Conditionally, since you don't want to copy those images in a release.

[2015-04-09 07:04] eagle-dan1349 commented on #41
Yes, I understand, I mean, to where should I copy it and how exactly (to preserve folder structure)?
Since when I add ref images as folder reference to project and add this folder in copy resources phase in tests target it does not work.

[2015-04-09 19:12] dstnbrkr commented on #41
I haven't looked into this at all, but the point where snapshot tests look for the reference images via a file system path would likely need to get those images from a bundle or an asset catalog instead.

[2015-04-09 19:20] dstnbrkr commented on #41
Just to clarify, snapshots on device is a feature that needs building - not something that I'd expect to work with a few configuration changes.

[2015-04-14 20:47] dstnbrkr opened #68 "Refactor FBSnapshotVerifyView to have optional directory mapper"
Instead of defining a custom macro to map reference dirs, allow installation of a reference image mapper function on FBSnapshotVerifyView. Default behavior is no map (i.e. no suffix).

See #65 for context

[2015-04-14 20:47] dstnbrkr commented on #65
Closing in favor of #68

[2015-04-14 20:47] #65 closed

[2015-04-19 11:04] squarefrog opened #69 "Swift compatibility"
Due to the use of macros, it is difficult to use `FBSnapshotTestCase` with Swift. Information is fairly scarce on getting it to work but it looks like [this StackOverflow answer](http://stackoverflow.com/a/29301901/816002) might be an elegant solution.

[2015-04-19 12:44] modocache commented on #69
If you're interested in using snapshot tests in Swift quickly, I'd recommend using https://github.com/dblock/ios-snapshot-test-case-expecta or https://github.com/AshFurrow/Nimble-Snapshots. Those have dependencies on https://github.com/specta/expecta and https://github.com/Quick/Nimble, respectively, but are the simplest solution.

Personally I'd love to see Swift support added to this project--a

[2015-04-19 13:13] squarefrog commented on #69
Thanks, but I'm not using Expecta or Nimble: just pure `XCTest` in this project.

I managed to get going by adding this repo as a submodule, dragging in the source files to my test target, creating a wrapper and a bridging header. It's definitely clunky, but it works.

[2015-04-19 15:00] squarefrog opened #70 "UIVisualEffect shows without blur"
If your view has a `UIVisualEffectView`, then the snapshot is rendered without a blur effect. The root of this problem is that you need to wait for view updates before taking the snapshot. This is closely tied to the removal of drawViewHierarchyInRect:afterScreenUpdates in #52

Adding in the wait for screen update fixes the snapshot's blur, while breaking the auto layout.

Is there a way to delay

[2015-04-19 16:22] dstnbrkr commented on #69
Swift support (or a non-macro FBSnapshotVerify function) would be a great pull request.

[2015-04-19 16:22] #69 closed

[2015-04-19 16:25] dstnbrkr commented on #70
Does spinning the run loop one tick in between initializing your view and taking the snapshot work?

[2015-04-19 16:32] dstnbrkr commented on #70
(thinking out loud): we could have two verify methods:
- FBSnapshotVerifyView // snapshots immediately
- FBSnapshotVerifyViewWithTimeout // waits for a run loop tick before snapshotting or fails if that tick takes too long

the old renderAsLayer = YES/NO had this property somewhat clumsily and accidentally, as it also had two entirely different rendering methods. Ideally we'd have only one way to

[2015-04-19 17:33] squarefrog commented on #70
I tried the following:

    let date = NSDate(timeIntervalSinceNow: 1.0)
    NSRunLoop.currentRunLoop().runUntilDate(date)

Which is roughly the equivalent of

    NSDate *date = [NSDate date];
    [[NSRunLoop currentRunLoop] runUntilDate:date];

If thats what you mean. If there is a better way to do this I'd love to know! I tried an async test with a `dispatch_after`, but that didn't seem to help

[2015-04-19 17:35] squarefrog commented on #69
:+1: Let me fork and make some changes and see what I can come up with.

[2015-04-19 19:16] squarefrog commented on #69
I tried to get something together tonight, but I'm stumped by being unable to create snapshots:

[code]

I've not seen this issue when dragging the source files in so I wonder if its CocoaPods related.

[2015-04-19 19:25] modocache commented on #69
The error states "permission denied". Does the file at `"$(SOURCE_ROOT)/$(PROJECT_NAME)Tests/ReferenceImages"/SwiftySnapshotsTests.SwiftySnapshotsTests` exist, and do you have permissions to read/write at that location?

[2015-04-19 19:29] squarefrog commented on #69
I don't see why not. I've created a new project file. Digging into the problem further, it seems as if the `FB_REFERENCE_IMAGE_DIR` value is not being correctly substituted.

If I dig into the pod source code and hard-code the path it works fine.

[2015-04-19 19:43] squarefrog commented on #69
OK further testing has proven that if I add the reference folder to the pod targets `GCC_PREPROCESSOR_MACROS`, it expands as expected. However, I'm unsure if this would be overwritten when a new `$ pod install` command is issued.

[2015-04-20 17:48] toddlee opened #71 "All snapshot tests are run when running just one (non-shapshot) test in the same test bundle."
We put normal tests and snapshot tests in the same test bundle.
When I select to run a single unit test by clicking on the diamond in front of the line number of a specific test, somehow all existing snapshot tests are run.
This doesn't happen if I select a snapshot test.

Since FBSnapshotTestCase derive from XCTestCase, I can't understand why this is happening, but it's kind of annoying since it

[2015-04-20 18:06] dstnbrkr commented on #71
That is super odd, I've never seen this behavior. Maybe others have and can chime in. I'd be curious if the same behavior occurs in a brand new sample project.

[2015-04-21 17:20] dstnbrkr commented on #70
Got it - so when you add the delay like you have above, the test passes?

[2015-04-21 17:47] squarefrog commented on #70
if I run the run loop it doesn't render the blur, but adding in the previous -draw..:afterScreenUpdates call does allow the blur to render.

I should state the test is still usable, as it will always render without the blur. But sometimes it's useful to use the snapshot while developing a heavily nested view.

[2015-04-21 23:23] ashfurrow opened #72 "Push 1.7 to CocoaPods"
Hi there! Congrats on the 1.7 release. Could you push it to CocoaPods trunk when you get a chance? Thanks!

[2015-04-22 02:46] dstnbrkr commented on #72
Hi @ashfurrow - thought this was done, let me see what happened...

[2015-04-22 02:51] dstnbrkr commented on #72
Odd, it looks like the push was successful on 4/18. Here's the output the 'pod trunk push':

  - Data URL: https://raw.githubusercontent.com/CocoaPods/Specs/f5c12b083affda4e2986ae8b107e9837cf3e03da/Specs/FBSnapshotTestCase/1.7/FBSnapshotTestCase.podspec.json
  - Log messages:
    - April 18th, 18:03: Push for `FBSnapshotTestCase 1.7' initiated.
    - April 18th, 18:03: Push for `FBSnapshotTestCase

[2015-04-22 15:12] ashfurrow commented on #72
Huh, that's very strange.

Thanks for looking into this for me. Looks like I had a stale specs cached.

![screen shot 2015-04-22 at 11 10 36 am](https://cloud.githubusercontent.com/assets/498212/7277854/44ca8994-e8e0-11e4-92ac-405479023f7e.png)

For anyone else, this was fixed with a `pod repo update`. Thanks @dstnbrkr!

[2015-04-22 15:12] #72 closed

[2015-04-25 03:04] #35 closed

[2015-04-25 03:05] #55 closed

[2015-04-30 17:30] dnorcott commented on #71
I had the same issue when using the Expecta+Snapshots cocoapod. Once I dropped that and went back to good ol' FBSnapshotTestCase the issue went away. Are you using Specta or Expecta?

[2015-05-04 17:34] reidmain opened #78 "All snapshot tests fail when updating to 1.8"
It seems like the folder where reference images are stored changed between 1.7 and 1.8.

All of my snapshot tests fail unless I rename my reference image folder from `ReferenceImages` to `ReferenceImages_64`

[2015-05-04 17:38] nscoding commented on #78
Yes, I made this change to accommodate different architectures. In order for you to upgrade the simplest way is to update your `ReferenceImages` folders to `ReferenceImages_32` if you run your tests in 32bit or `ReferenceImages_64` if you run them in 64bit.

If you don't want to do that, you can provide your own `FBSnapshotTestCaseAppSpecificSuffixes()` and fallback to `ReferenceImages`

[2015-05-04 17:39] reidmain commented on #78
Going forward it would probably be best to document this in some sort of change log so people using semantic versioning with CocoaPods at the very least have an idea about how to fix this issue.

[2015-05-04 18:03] nscoding commented on #78
Yes you are right sorry for the confusion, we are missing documentation about this change. Regardless, I'll open a PR to fallback to `ReferenceImages` as a last resort.

[2015-05-11 06:40] pietbrauer opened #81 "Add downloadable Carthage framework"
Hello,

[Carthage](https://github.com/carthage/carthage) can download pre-built frameworks for a library through GitHub releases. I recently did that for [my fork](https://github.com/nerdishbynature/ios-snapshot-test-case/releases/tag/1.8.1). It would be nice if you add it to your releases as well as it is safer and reduces build time for a lot of developers using Carthage.

Cheers,

Piet.

[2015-05-18 02:47] stevemoser opened #83 "Demo project test fails"
Looks like an issue with FB_REFERENCE_IMAGE_DIR. I thought there was an issue on my end in my project but it looks like the demo project doesn't work (with the latest version of CocoaPods).

2015-05-17 22:43:57.424 FBSnapshotTestCaseDemo[14107:6951453] Application windows are expected to have a root view controller at the end of application launch
Test Suite 'All tests' started at 2015-05-18 02:43

[2015-05-18 06:22] nscoding commented on #83
Hi,

Thanks for your message,

- Regarding the example project, did you follow the initial instructions (https://github.com/facebook/ios-snapshot-test-case) on defining `FB_REFERENCE_IMAGE_DIR` in `GCC_PREPROCESSOR_DEFINITIONS`?

- Regarding your project, it might be the breaking [change](https://github.com/facebook/ios-snapshot-test-case/blob/master/CHANGELOG.md) and you will need to rename your

[2015-05-18 19:16] dstnbrkr commented on #83
I see this error as well. I believe the demo project used to get it's definition of FB_REFERENCE_IMAGE_DIR from the default value in FBSnapshotTestCase.h. However, the error message is showing an un-preprocessed path - so maybe something has changed regarding how cocoapods are preprocessed. Luckily we can provide a cocoapods-friendly, default value for FB_REFERENCE_IMAGE_DIR via the podspec. I've

[2015-05-19 03:55] #83 closed

[2015-05-21 10:51] jcampbell05 opened #85 "Autogenerate Identifiers"
It would be nice that instead of having to provide our own identifier it could infer it from the class or function name instead.

[2015-05-21 10:58] #85 closed

[2015-05-25 08:42] kerrmarin commented on #38
:+1:

[2015-05-25 19:26] stevemoser commented on #83
It works! :+1:

[2015-05-29 18:47] dstnbrkr commented on #71
Sounds like this is likely isolated to Expecta - please reopen if you find otherwise.

[2015-05-29 18:47] #71 closed

[2015-05-29 21:28] #68 closed

[2015-06-01 10:07] Dionysiac commented on #38
This would be very useful.
We are seeing repeated test failures across different machines where the failure is from a single pixel difference within the gradient of anti-aliased text.

[2015-06-01 10:13] nap-sam-dean commented on #38
:+1:

[2015-06-01 19:45] #78 closed

[2015-06-02 13:12] nap-sam-dean commented on #38
Morning everyone.

I've taken a first stab at this here : https://github.com/nap-sam-dean/ios-snapshot-test-case but have run into a problem. It works absolutely fine but I can't find a way to get the build.sh to build the library. It builds the demo project fine because that has gone and got the AIImageCompare pod to link against but the project in the root folder doesn't do that.

Any ideas roun

[2015-06-02 15:04] nap-sam-dean commented on #38
Hi everyone. I've made a pull request - if you case, take a look :) https://github.com/facebook/ios-snapshot-test-case/pull/86

[2015-06-14 21:04] nscoding commented on #38
:clap: this is now in master thanks to @nap-sam-dean and his awesome PR. (#86)

[2015-06-14 21:04] #38 closed

[2015-06-17 10:46] Loadex opened #91 "Snapshot doesn't render UIApperances setups"
The snapshot render the UI without rendering view with the setup of their UIApperances selector.

[This may help](http://stackoverflow.com/questions/11471362/when-do-uiappearance-proxy-rules-get-applied-to-new-view-controller/13322872#13322872)

[2015-06-17 20:02] nscoding commented on #91
Thank you @Loadex for opening this.

The `layoutSubviews` method is called correctly but it seems that the view needs to be added on a `UIWindow` for the appearance proxy to apply the style.

I will need to spend some time to figure out a good solution but for now something like this will work:

[code]

[2015-06-18 13:19] maremmle opened #92 "Support for different Size Classes"
Hey *,

I am wondering if / how it is possible to test a view in different Size Classes as we different constants and even constraints.

[2015-06-18 16:10] Loadex commented on #91
@nscoding Thanks for this solution ! I will use it while waiting for your update. Your solution doesn't seem to work when appearances are used with `appearanceWhenContainedIn`. Any idea why or how to make this work ?

[2015-06-18 16:16] nscoding commented on #91
@Loadex I will check it and get back to you.

[2015-06-18 17:56] nscoding commented on #92
Hello @maremmle

How do you run your tests now? If you run them on Xcode you can pick the device you want to build and test. If you run them on you CI tool, you will need specify on what device will the test run.

One solution would be to create your own macro for these cases. For example:

[code]

Once you have your custom macro `FBSnapshotVerifyViewCustom` you can use it to record and test diffe

[2015-06-18 20:22] maremmle commented on #92
Hi @nscoding,

thanks for your response. I was playing around in XCode … so I used the Simulator. I picked iPhone (compact width) but it did always rendered my view in regular width. The view itself is loaded from a XIB file via `NSBundle -loadNibNamed:owner:options:`.

[2015-06-18 20:26] nscoding commented on #92
That's an interesting problem but I haven't worked much with interface builder, can you please provide me with a sample project (with a similar load of nibs and tests) to debug this further?

[2015-06-18 20:29] maremmle commented on #92
Sure … I will setup one up for you within the next days.

[2015-06-18 22:13] nscoding commented on #92
@maremmle thank you for your time, much appreciated.

[2015-06-19 00:12] nscoding commented on #91
@Loadex can you give me an example how you use `appearanceWhenContainedIn` and how your test looks?

[2015-06-19 12:52] Loadex commented on #91
Sure :
Here is my produced screenshot :
![testviewlayout 2x](https://cloud.githubusercontent.com/assets/1458311/8253613/e2280f98-1691-11e5-92fd-5cc6daec8ea1.png)

My view hierarchy look like :
`UINavigationController-> HelpViewController -> HelpView -> UITableView -> LeftMenuCell (containing one UIImageView and on UILabel)`

My apperances setups are :
[code]

My test file :
[code]

As you can see,

[2015-06-20 10:33] maremmle commented on #92
@nscoding i have pushed a sampel app here https://github.com/maremmle/ios-snapshot-test-case_size_class_sample/. The `Snapshots` folder contains 2 images, a screenshot of the iPhone Simulator and a Snapshot from the test. As you can see on the Simulator's one the green box should be below on compact with. On regular width it should be next to the orange box as it is on the other Snapshot.

I hope

[2015-06-20 20:07] nscoding commented on #92
Hey @maremmle

Thank you so much for this it was very helpful. It's very similar to #91 and it requires a window to load things correctly. So something like this should work for your case:

[code]

Can you try it?

[2015-06-21 02:51] nscoding commented on #91
Thank for your detailed message.

- If I am not mistaken `UILabel` doesn't have tintColor property (maybe you meant `textColor`), can you try that?
- What is the purpose of `[UIView appearance].tintColor = [HHTheme pinkColor];` ? maybe `backgroundColor` ?
- Could you also try `[window setRootViewController:self.vc]` ?

[2015-06-22 09:04] maremmle commented on #92
@nscoding thanks a lot for you help. It now works.

Since you labeled it as a bug I am actually wondering if the Testcase maybe should take care of embedding the view into a window. Just a quick idea ;)

[2015-06-22 14:25] Loadex commented on #91
@nscoding Thanks for you answer :

The tintColor property works fine for the textcolor when i'm using the app. This change well the textColor. The TextColor property is not referenced to be compatible with the uiappearance proxy. I used this [link](http://nshipster.com/uiappearance/) to check the headers, and learn more about this. That's why I tried the tint color and it work fine this way.

Same

[2015-06-29 00:57] nscoding commented on #91
@Loadex thanks for the update, I don't have a better solution for now other than the on above. I'll keep the issue open.

[2015-06-29 00:59] nscoding commented on #92
@maremmle yes maybe the framework control this but I am not yet sure, I'll keep the issue open.

[2015-06-29 10:29] x2on opened #95 "Problem with retina compare (2.0.x)"
Hi,

since 2.0 the compare doesn't work here anymore.
I assume that the change in `UIImage+Diff.m` causes the problem.

Why is the following code removed?
[code]

Without this it doesn't work here anymore.

[2015-06-29 14:16] nscoding commented on #95
I will check it today, it was removed because it was breaking the approximation comparison I believe.

cc @nap-sam-dean

[2015-06-29 15:00] nap-sam-dean commented on #95
It was debated and removed because it was breaking the compare tests on retina devices - the rendered images were wrong and we decided that it wasn't needed because the pixel counts were already correct.

However, it looks like it wasn't as harmless a change as we expected :)

Do you have a test image/s that we can compare to see why it's broken now?

[2015-06-29 16:33] nscoding commented on #95
I see, I think the problem is [here](https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestCase/UIImage%2BCompare.m#L88-L89), we should be using `CGImageGetWidth()` and `CGImageGetHeight()`.

I will open a PR shortly.

[2015-06-29 16:49] nscoding commented on #95
@x2on Do you want to patch #96 and give it a try? I am confident that this was the issue but just to make sure. Thank you for your time.

[2015-06-29 17:14] x2on commented on #95
I will have a look at this!

[2015-06-29 20:08] x2on commented on #95
@nscoding #96 works fine for my projects! Thanks!

[2015-06-29 20:48] nscoding commented on #95
Thank you very much for opening this issue and helping out.

[2015-06-29 20:48] #95 closed

[2015-07-02 21:41] pietbrauer commented on #81
With #90 and #82 this should be feasible now. Do you think we could do that?

[2015-07-02 22:25] nscoding commented on #81
@pietbrauer Yes we should, is there any "how to" guide somewhere?

[2015-07-02 22:40] pietbrauer commented on #81
It is basically:
[code]

This will result in a `FBSnapshotTestCase.zip` which can be attached to the GitHub release.

[2015-07-03 21:37] nscoding commented on #81
@pietbrauer so we need #90 for this?

[2015-07-03 21:43] pietbrauer commented on #81
No, for me works fine locally.

On Friday, July 3, 2015, Patrick Chamelo <notifications@github.com> wrote:

[2015-07-09 16:32] nscoding commented on #81
@pietbrauer thank you, I'll try it as soon as I can.

[2015-07-15 16:43] Grubas7 commented on #70
Have same problem ;(
Any hope to fix this?

[2015-07-16 20:54] nscoding commented on #70
@Grubas7 could you put up an example project for me to debug this further? (or maybe @squarefrog )

[2015-07-17 09:22] Grubas7 commented on #70
@nscoding No problem, will do in the weekend.

[2015-07-18 11:39] Grubas7 commented on #70
@nscoding Here you have sample project:
https://github.com/Grubas7/blurSnapshot

Generally this is what simulator shows:
![ios simulator screen shot 18 jul 2015 13 11 44](https://cloud.githubusercontent.com/assets/9446070/8761445/42590e72-2d52-11e5-9655-14038c0dfebd.png)

and this is how snapshot looks:
![testsnapshot_blursnapshottest 2x](https://cloud.githubusercontent.com/assets/9446070/8761447/

[2015-07-18 17:12] nscoding commented on #70
Thank you so much for your time, I'll debug it today.

[2015-07-20 03:09] nscoding commented on #92
#100 is addressing this issue, I will now close the issue but please reopen if you think otherwise.

[2015-07-20 03:09] #92 closed

[2015-07-20 03:09] nscoding commented on #91
#100 is addressing this issue, I will now close the issue but please reopen if you think otherwise.

[2015-07-20 03:09] #91 closed

[2015-07-20 03:09] nscoding commented on #70
#100 is addressing this issue, I will now close the issue but please reopen if you think otherwise.

[2015-07-20 03:09] #70 closed

[2015-07-20 08:48] Grubas7 commented on #70
@nscoding OK, thanks. I'll test this today or tomorrow.

[2015-07-20 15:59] Grubas7 commented on #70
@nscoding I had a problem with importing version 2.0.3
[code]
But after all, I have tested my demo project with `usesDrawViewHierarchyInRect = YES`, and everything worked fine!
Thank you very much!

[2015-07-20 16:02] nscoding commented on #70
@Grubas7 oh yes, I haven't pushed 2.0.3 on cocoapods, will do later this week. I usually wait a couple of days.

Thanks for checking it!

[2015-07-31 14:08] dcaunt opened #102 "Test incorrectly reports missing image due to default suffixes"
I'm new to version 2 of ios-snapshot-test-case so please forgive me if I've misunderstood how the suffixes are intended to work.

I've created a simple test which renders one of my custom UIView objects with a frame of size (50,50). I run the test on the iPhone 6 simulator with `recordMode` set to `YES` and it creates the expected reference image in the `ReferenceImages_64` directory.

When I set

[2015-07-31 15:14] nscoding commented on #102
Nice thank you filling this issue, you are right and I would welcome a PR to make this better.

[2015-08-03 19:33] dcaunt commented on #102
I've had a quick look at a PR and we'll need to expose `FBSnapshotTestControllerErrorCode` – where do you want to put it?

Also, is there a benefit in using macros over C functions?

[2015-08-04 18:04] facebook-github-bot-2 commented on #41
Thank you for reporting this issue and appreciate your patience. We've  notified the core team for an update on this issue. We're looking for a response within the next 30 days or the issue may be closed.

[2015-08-04 22:44] nscoding commented on #102
Just to clarify the `for` loop there is intended.

The idea behind this is to check for the 64bit image. If there is none or is different, then load the 32bit image and compare before failing completely (and vice versa). We did this because we run tests for both architectures but most of the snapshots are the same. They differ when text is involved (antialiasing).

IMO, what can be improved here i

[2015-08-25 19:56] soleares commented on #102
+1

[2015-09-04 04:28] kdelong opened #109 "Output % difference for failed comparisons to console"
This should be useful for debugging, especially when using some tolerance level.

[2015-09-05 15:23] getaaron opened #110 "FBSnapshotTestCase and CircleCI"
I wrote a [Stack Overflow question here](http://stackoverflow.com/questions/32414627/tests-pass-in-xcode-but-fail-on-circle-ci) with more details, but I'm having trouble getting `FBSnapshotTestCase` tests to pass on CircleCI (they pass locally). `FBSnapshotTestCase` is using the `_32` directory for some reason, even though I'm specifying a 64-bit simulator in the `circle.yml` file.

Is this relate

[2015-09-05 22:58] nscoding commented on #110
Hey @getaaron

I am not familiar with CircleCI but I will try help you debug this one. I don't think that is related to #102, while the output is confusing (that's a separate issue) the framework in trying to load images from `References_64` (doesn't find anything or fails) and tries to load them from `References_32`.

-------
I cloned the project tried the following command and it works a expecte

[2015-09-06 03:34] infamous9 commented on #110
Hi , yes having problems with 4 people tracking me my aunt and...so they are redirecting my IP / vpn /  and a few more the can get in my gmail and aol accounts along with face book. My IP address is
107.215.164.52.

Harassment so I I would love to end it for them. They are going threw AT&T u-verse .they have passwords I got a redirect login .they are using chrom/390.2171.q3/safari/537.36,gzip(gfe)

[2015-09-08 00:38] getaaron commented on #110
Thanks for your help. I was able to narrow it down to a temporary CircleCI configuration problem which is resolved. Also realized there have been some breaking changes in later versions, so I'm going to spend some time reviewing the updates and switching to the new version.

Thanks again!

[2015-09-08 00:38] #110 closed

[2015-09-09 22:06] nscoding commented on #110
:+1:

[2015-09-11 12:01] x2on opened #112 "iOS 9: Caught "CALayerInvalidGeometry", "sublayer with non-finite position [inf inf]""
I get the following error on some of our view tests with Xcode 7 and iOS 9:

[code]

Any idea what happens there?

[2015-09-11 13:46] x2on commented on #112
I found a root cause: https://github.com/romaonthego/RETableViewManager/pull/238
If you use a `CGRectNull` it causes this crash.
But only in the test mode, if i run the app it works without the change.

[2015-09-11 21:01] brentleyjones commented on #81
Any update on this?

[2015-09-11 21:41] yiding commented on #41
Ability to put reference images into bundles is done (#104).

[2015-09-11 22:02] nscoding commented on #112
thanks for raising this, I think I need to add an assertion to prevent CGRectNull

[2015-09-11 23:23] nscoding commented on #112
hmm we have assertions already for the width and height but they didn't trigger so it must be some sublayer with [inf inf ...]

[code]

For example, this throws an exception for me before the render call.
[code]

[2015-09-11 23:48] #41 closed

[2015-09-12 07:34] x2on commented on #112
I think a check with `CGRectIsNull` and check for `CGRectIsInfinite` should help here. Probably the changed the implementation of the rendering.

[2015-09-12 19:21] nscoding commented on #112
If I do `[[UILabel alloc] initWithFrame:CGRectNull]` I will still hit, it never reaches the render function that you did.

[code]

[2015-09-13 09:51] x2on commented on #112
I think the problem is only on some sublayers.

[2015-09-13 19:28] nscoding commented on #112
:+1:

Yes, it seems to be some sublayer so I am going to close this for now.

[2015-09-13 19:28] #112 closed

[2015-09-13 19:30] nscoding commented on #81
Sorry I haven't looked at this yet, not sure what's the demand on this feature is.

@brentleyjones can you get around like @pietbrauer does for now?

[2015-09-13 19:44] pietbrauer commented on #81
I get around by using my fork and making my own releases. I wouldn't recommend that.

[2015-09-13 19:49] nscoding commented on #81
hmm I wonder what's the demand on this, I'll check other open source frameworks from Facebook and make a decision.

[2015-09-16 15:53] peacemoon opened #114 "Reference Image has wrong size"
I'm trying to create reference images for views of my view controller for different devices so that I can test the screenshot of my views later.

I'm trying do something like this

[code]
I can successfully create the reference images but all the images have the size of 640x960 although I run different simulators (iPhone 4s -> iPhone 6 Plus).

Does anyone know where the problem is?

[2015-09-16 17:02] nscoding commented on #114
I haven't tried it with storyboards but we can figure this out. Can you try to record with `usesDrawViewHierarchyInRect`?

[code]

This will place your view into a UIWindow before the snapshot and it should then have the correct size.

[2015-09-17 14:40] peacemoon commented on #114
It works correctly with my simple test project here: https://github.com/peacemoon/TestFBSnapshotTestCase but with another project, I always have a 640x960 regardless with simulator I am using. Let's me check my storyboard settings to see whether I have to set something there.

[2015-09-18 23:19] nscoding commented on #114
even when you use `usesDrawViewHierarchyInRect` ?

[2015-09-21 06:57] peacemoon commented on #114
yes, even when I use `usesDrawViewHierarchyInRect`. I will try to investigate further or create another sample project. I can't post  my current project because it's a company's project

[2015-09-23 00:57] flovilmart commented on #81
I'd take it :)

[2015-09-24 14:08] peacemoon commented on #114
After further testing, I found a very strange thing. In the "bad" project, when I try to print out the screen size using `print("SCREEN SIZE = \(UIScreen.mainScreen().bounds.size)")` ,  I always have 320x480 . In the "good" project, the printed size is simulator-dependent. I doubt this issue is related to FBSnapshotTestCase  Lib, but rather project configuration. But I will try to figure out which

[2015-09-24 14:48] peacemoon commented on #114
OK, I may find something. I use FBSnapshotTestCase inside UI Testing, and not Unit Testing. Maybe the configuration for UI Testing is different than in Unit Testing. When I use the framework inside Unit Testing, the size is reported correctly. You can close this issue. Thanks

[2015-09-25 11:34] nscoding commented on #114
thanks for the update.

[2015-09-25 11:34] #114 closed

[2015-09-28 17:24] Grubas7 commented on #102
The problem is in define `FBSnapshotVerifyViewOrLayerWithOptions()` and `for` loop. This loops iterate on resources path with sufixes {_64, _32}. If you have snapshot with some view, but comparation fails (so sets variable `error`), loops goes to next sufix and if you don't have valid snapshot for other architecture comparation fails again set error one more time. So we are losing value of first `

[2015-09-30 15:28] nscoding commented on #102
@Grubas7 correct, a PR would be really awesome!

[2015-09-30 20:29] Grubas7 commented on #102
I found solution for this issue ;)
I made commit, but (I hope) tomorrow I'll write missing documentation for one method which I made public. Also I'll explain code, which may look a bit chaotic (but it is not!), and write possible test scenarios.

[2015-10-02 20:57] Grubas7 commented on #102
PR for issue #119

Tests cases:
- recordMode = 1, no reference images, run on 32bit or 64bit architecture simulator.

Test case failed:

- recordMode = 1, with reference images, run on 32bit or 64bit architecture simulator.

Test case failed:

- recordMode = 0, no reference images, run on 32bit or 64bit architecture simulator.

Test case failed:
No image found for 64bit **and** 32bit architecture

[2015-10-13 16:48] Grubas7 opened #122 "Set CI tests on both architectures."
I checked build settings of repo on [travis](https://travis-ci.org/facebook/ios-snapshot-test-case), and I see that CI runs test only on iPhone 6, so only 64bit architecture.
I think CI should test also 32 bit architecture (eg. iPhone 5).

[2015-10-13 17:45] nscoding commented on #122
:+1:

[2015-10-13 23:20] nscoding commented on #102
Thanks for fixing this @Grubas7

[2015-10-13 23:20] #102 closed

[2015-10-14 00:08] #122 closed

[2015-10-23 17:07] Adlai-Holler opened #125 "Cannot Build In Xcode 7.1"
Using Cocoapods, pointing at `~> 2.0.5`, the module will no longer build for me with the error `/Pods/FBSnapshotTestCase/FBSnapshotTestCase/FBSnapshotTestCase.h:11:9: Include of non-modular header inside framework module 'FBSnapshotTestCase.FBSnapshotTestCase'`.

It's complaining because `FBSnapshotTestCase.h` imports the non-modular header `FBSnapshotTestCasePlatform.h`. I'll look into this when

[2015-10-23 18:02] nscoding commented on #125
Thanks for letting me know, I will look at and fix it as soon as possible. From [this stackoverflow](http://stackoverflow.com/questions/27776497/include-of-non-modular-header-inside-framework-module) thread it seems that you can disable this error. Is that something you can do until I provide a fix?

[2015-10-23 18:08] Adlai-Holler commented on #125
Awesome, I'm glad to know you're on it! That fix isn't working for me but at the moment it's not urgent. I'll comment on here if it starts blocking work or what have you.

[2015-10-23 22:12] nscoding commented on #125
@Adlai-Holler can you try patching #127 to see if resolves the issue for you?

[2015-10-24 02:59] soleares commented on #125
Here's a workaround. Add this to the end of your Podfile.

[code]

It converts  `#import <FBSnapshotTestCase FBSnapshotTestCasePlatform.h>`  to `#import "FBSnapshotTestCasePlatform.h"` and then you should be able to build in Xcode 7.1.

See https://github.com/CocoaPods/CocoaPods/issues/4420.

[2015-10-25 22:11] nscoding commented on #125
I just pushed 2.0.6, please confirm that your issue is resolved

[2015-10-26 22:25] Adlai-Holler commented on #125
Works like a charm

[2015-10-26 22:26] #125 closed

[2015-10-27 09:45] andreamazz opened #128 "Should FBSnapshotTestController header be public?"
The new modulemap imports `FBSnapshotTestController` as a [private header](https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestCase.modulemap#L13). This causes an issue with `Nimble-Snapshots` since it's using the class:
https://github.com/ashfurrow/Nimble-Snapshots/blob/master/HaveValidSnapshot.swift#L43

Can we move the header as public? What do you think?

[2015-10-27 16:01] nscoding commented on #128
I was worried about this. Yeah I will make it public since this is a breaking change for you

[2015-10-27 16:43] andreamazz commented on #128
Awesome, thanks :+1:

[2015-10-27 21:53] esttorhe commented on #128
Came here for the same reason actually :smile:

Upon multiple tests this can also be accomplished via a better «umbrella header»

Here's the one generated via `CocoaPods`

[code]

[2015-10-29 02:38] nscoding commented on #128
I will address this #129, do you guys need the `UIImage` categories?

[2015-10-29 02:40] esttorhe commented on #128
Currently `Nimble-Snapshots` only needs `FBSnapshotTestController`

[2015-10-29 02:41] nscoding commented on #128
sounds good, can someone patch and test before I merge? :construction_worker:

[2015-10-29 02:46] esttorhe commented on #128
Just tested `Nimble-Snapshots` using `nscoding/headers` and all tests are :green_heart:

:ok_hand: from our side

[2015-10-29 02:53] esttorhe commented on #128
@nscoding just ping me here when `2.0.7` is released so we can release `Nimble-Snapshots` accordingly :bow:

Thanks

[2015-10-29 03:13] nscoding commented on #128
@esttorhe done :+1:

[2015-10-29 03:26] esttorhe commented on #128
Thanks; `Nimble-Snapshots` v`1.2.0` is out; working and with «device agnostic» functionality :tada:

[2015-10-29 03:27] nscoding commented on #128
:tada: I assume this is fixed and closing the issue :tada:

[2015-10-29 03:27] #128 closed

[2015-10-29 16:32] soleares opened #131 "Xcode 7.1 warnings - umbrella header"
Thanks for the quick resolution on https://github.com/facebook/ios-snapshot-test-case/issues/125. Xcode 7.1 now shows the following warnings when 2.0.6 is installed via CocoaPods:

![screen shot 2015-10-29 at 9 32 11 am](https://cloud.githubusercontent.com/assets/494198/10824957/f9859368-7e1f-11e5-8942-ccad1af1229d.png)

I would assume it's related to this: https://github.com/CocoaPods/CocoaPods/i

[2015-10-29 16:37] nscoding commented on #131
This should be fixed with 2.0.6 :/ Can you clean your build folder?

[2015-10-29 21:53] soleares commented on #131
Yes, likely just an issue with switching between pre and post 2.0.6 branches. If I see if again I'll include a sample project.

[2015-10-29 21:53] #131 closed

[2015-10-29 22:54] nscoding commented on #131
oh great :relieved:

[2015-11-11 08:01] larslockefeer opened #133 "Duplicate output for failing tests; expected behaviour?"
When I ran a snapshot test that failed, the output produced when a Snapshot Test fails was a bit surprising to me. I recorded the reference images on a 64-bit architecture. Then, when I change something to the view and run the tests, I get the following output:

[code]

Of interest here are lines 4 and 5. Initially, I only noticed the second of these lines and concluded that for some reason, the t

[2015-11-11 19:50] HaloZero opened #134 "Building duplicate interface declaration"
Hi,

I have a mostly Obj-C App but I'm starting a migration to Swift so I've made all my cocoapods build as frameworks instead of static libraries. But the FBSnapshotTestCase has a problem when you try to build it as a framework.

I keep getting the error:
Duplicate interface definition for class 'FBSnapshotTestCase'

I've set up with a testing target and set up so the project builds exclusively f

[2015-11-16 19:16] nscoding commented on #133
This is intended, before we completely fail we make an extra test just in case the image from the other architecture can pass the test. There was a discussion on removing this but it will be a breaking change. Most like it will be addressed with the next major version (3.0) and not point update.

Thanks for filling this, I hope it makes sense.

[2015-11-16 19:16] #133 closed

[2015-11-16 19:30] nscoding commented on #134
Hi,

I am not sure what exactly is going wrong here, can you try to change the import in `Screenshot_Tests.m` from:
[code]
to:
[code]

[2015-11-16 22:30] nscoding commented on #134
Great! I am closing the issue.

[2015-11-16 22:30] #134 closed

[2015-11-20 18:41] jspahrsummers commented on #81
I started on doing this automatically on Travis, but that's hard to do because we'd have to code sign the binary. It's not impossible, but our provisioning situation changes constantly, which would make it hard to keep binary uploads working. :confused:

[2015-11-20 18:50] nscoding commented on #81
Thanks for looking at it @jspahrsummers, I'll keep the issue open just for reference.

[2015-11-23 15:50] peacemoon commented on #109
There is an open source implementation in javascript here: https://github.com/yahoo/blink-diff, might be helpful if you want to create this feature

[2015-11-27 03:07] flovilmart commented on #81
@jspahrsummers we can actually build frameworks on travis without a CODE_SIGN_IDENTITY set.

Part of an effort to make Parse available as dylibs, I've implemented this set of scripts/submodules that provide the parse tools as Carthage downloadable frameworks.

https://github.com/flovilmart/ParseToolchain/

[2015-11-29 19:57] flovilmart commented on #81
@jspahrsummers there is no need to code sign the binary. Just set CODE_SIGN_REQUIRE = NO and we're good to go.
See: https://travis-ci.org/flovilmart/ios-snapshot-test-case/builds/93813942
Also https://github.com/flovilmart/ios-snapshot-test-case/releases/tag/2.0.7.1

This is built without identities.

I've validated an app with frameworks built that way and actually, upon archive, Xcode re-signs t

[2015-12-05 22:03] ealeksandrov opened #136 "Tests fail 100% on CI"
I have OS project: https://github.com/ealeksandrov/EARestrictedScrollView
Some time ago it was working well with TravisCI, but when I pushed recent changes it started to fail every time. I can't reproduce it locally even running the same command:
[code]
Succeeded locally:
![screenshot 2015-12-06 00 57 46](https://cloud.githubusercontent.com/assets/3132438/11610449/66123d90-9bb4-11e5-9aac-4056c8978

[2015-12-07 02:56] nscoding commented on #136
hmm this is strange, how did you record the images at the first place (what simulator does it default to?), Your Travis CI seems to be iPhone-4s with 8.1. Is it the same when you record locally?

[2015-12-07 11:14] ealeksandrov commented on #136
You are right. Looks like it was my mistake: `-sdk iphonesimulator9.1` doesn't mean it will use iOS 9.1.
Adding `-destination 'platform=iOS Simulator,name=iPhone 6s,OS=9.1'` solved this issue for me.
Thanks!

[2015-12-07 11:14] #136 closed

[2015-12-20 03:46] nscoding commented on #81
I don't have enough knowledge for this, @jspahrsummers any thoughts?

[2015-12-20 16:45] flovilmart commented on #81
@nscoding the latest version of Carthage is supporting just that, and it's just intended for you :) https://github.com/Carthage/Carthage/releases/tag/0.11

[2016-01-24 09:44] ashisht99x opened #142 "Challenge in testing UITableViewCells"
TableViewCells which expand based on the content they hold are difficult to test.
One way of doing this is taking the cell's contentView and add it to a container superview with appropriate constraints (which allow contentView to expand vertically).

If it makes sense to have this support inside framework itself, I can send a pull request

[2016-01-26 11:59] alistra commented on #142
I'm actually having similar problems. With auto-sizing cells. This works for me in compact trait environment:
[code]

But when I try to set a regular class with this it doesn't work (still gets the size of compact):
[code]

[2016-01-26 12:00] alistra commented on #142
At the very least some documentation how to handle size classes would be helpful.

[2016-02-06 00:07] nscoding commented on #142
Thanks for opening this issue, I would welcome a PR that describes how to solve cases like that in the ReadMe section.

[2016-02-15 20:20] niklassaers opened #148 "SwiftSupport L63"
When building, I get: 'Cannot convert value of type 'String' to expected argument type 'StaticString''

I have installed FBSnapshotTestCase 2.0.7 via CocoaPods, and have also tried commit ee57dee37aa5be6ee6b307670a37f9bcce69e2e4. I build with Xcode 7.3-beta3.

In my CococaPods file I have the following defined:

[code]

If I remove that line I get three errors for the following lines in FBSnapshot

[2016-02-15 21:15] niklassaers commented on #148
After reading through `[this pull request](https://github.com/facebook/ios-snapshot-test-case/pull/141)`, I see you already have got the solution for the three import errors. Please accept that pull request. :-) So it's just the line 63 error remaining. I don't know the correct solution for this, but if someone else has the same problem, my workaround for now was to comment out that lie and just w

[2016-02-18 03:39] nscoding commented on #148
@niklassaers I am waiting for cocoapods 1.0 to go thru with the open PR.

[2016-02-26 16:16] brtucker commented on #142
@nscoding An app I work on ran into these issues and we were able to solve them by extending the FBSnapshotTestCase and introducing a method to test on all device sizes and their relevant size classes. Would you welcome a PR with our solution?

[2016-03-01 21:41] gregpardo commented on #148
Same issue. Waiting for cocoapods update I guess

[2016-03-22 12:22] vandadschibsted opened #151 "Swift 2.2 compilation error of test target"
Swift 2.2 and Xcode 7.3, changed the definition of `XCTFail` function which is being used in `SwiftSupport.swift` file so that we are getting this error:

Pods/FBSnapshotTestCase/FBSnapshotTestCase/SwiftSupport.swift:63:30: Cannot convert value of type 'String' to expected argument type 'StaticString'

This is rendering the framework useless to us at the moment since we cannot even build our test

[2016-03-22 12:26] huberand commented on #151
Yeah same problem for us. We are stuck now :-1:  can't build our test target!

[2016-03-22 15:45] soleares commented on #151
I think there's already a PR #150 up for this.

[2016-03-22 16:04] vandadnp commented on #151
And it seems like this is part of Niklas's issue here: #148

[2016-03-23 03:45] GabrielCartier commented on #151
+1

[2016-03-23 18:08] nscoding commented on #151
This should now be fixed with #152, can someone confirm?

[2016-03-26 19:16] joeblau commented on #151
@nscoding Yeah, that fix is in #152

[2016-03-27 16:33] nscoding commented on #151
@joeblau thanks for confirming.

[2016-03-27 16:33] #151 closed

[2016-03-28 13:32] Pearapps opened #154 "24 commits on master since last release"
There are currently 24 commits on master that do not have a release yet.

We would love to pull in [this change ](https://github.com/facebook/ios-snapshot-test-case/pull/152) - however it is not in a release. We also do not want to pull directly from master in our podfile - so previous versions of our app are also attached to a version of this library.

Thanks!

[2016-03-28 15:12] nscoding commented on #154
Thank you for opening this, yes, I am aware and I will be cutting a new spec today.

[2016-03-28 15:19] Pearapps commented on #154
@nscoding Thank you so much!

[2016-03-28 15:40] nscoding commented on #154
Spec is out, please let me know if that works for you.

[code]

[2016-03-28 15:40] #154 closed

[2016-03-29 21:25] idStar commented on #81
+1 vote re: who would use a Carthage based build of this framework.

[2016-03-31 10:16] nikolaykasyanov opened #156 "Tests which rely on UIAppearance are failing with 2.1.0"
I think this is somehow related to using `keyWindow` instead of a new instance for making a snapshot (https://github.com/facebook/ios-snapshot-test-case/commit/d6617c589c3bca8a7c158d07268cc7cdf3f024b7).

[2016-04-01 08:09] danielgindi opened #157 "GitHub API request failed: Maximum number of login attempts exceeded. Please try again later."
Seems like we can't build in Travis anymore.
https://travis-ci.org/danielgindi/Charts

It's been a few days already that it is failing.

Is it my fault or Facebook's? Or maybe Travis'?

[2016-04-12 02:16] liuxuan30 opened #159 "Building scheme "FBSnapshotTestCase tvOS" keeps failing"
Travis log: https://travis-ci.org/danielgindi/Charts/builds/122282395

So it has been some weeks since iOS 9.3 was released. We notice Building scheme "FBSnapshotTestCase tvOS" keeps failing as below. We think it's FB's bug? Or any advice how to fix it?

[code]

[2016-04-12 20:48] nscoding commented on #159
Thanks for filing this issue, I need to investigate.

[2016-04-15 13:42] alistra commented on #142
@brtucker could tell me what is your way of approaching it?

 I'm currently trying to create a `parentViewController`, `childViewController`, `tableView` added as a subview to `childViewController.view`, and I use `setOverrideTraitCollection` but the only thing I can do is set the `traitCollection` on the superview of the `tableView`. The `tableView` stays unspecified. I want to performa a snapsho

[2016-04-15 19:09] Grubas7 commented on #156
@nikolaykasyanov could you add some example project? I've been using today UIAppearance and FBSnapshotTestCase and everything works well.

[2016-04-18 16:53] brtucker commented on #142
We just test the cell, we wrote an extension that takes the `UITableViewCell` and we then swizzle the `traitCollection`to return the size class that we want for the display size. All of our code to set constraints based on the size classes is set in `traitCollectionDidChange`. When cells are first created they will have a null traitColleciton, calling `cell.layoutIfNeeded` will address that.

[2016-04-19 08:15] danielgindi commented on #159
#157

[2016-04-19 22:31] nscoding commented on #159
The issue seemed to appear with 2.1.0 but I didn't do anything different to cause these timeouts, it could be travis or github. I could potentially tag a new version with #158 and see if that resolves it but I don't have high hopes.

[2016-04-20 01:03] liuxuan30 commented on #159
@nscoding I have seen the GitHub API request failed before 2.1.0: https://github.com/danielgindi/Charts/pull/765
It seems not interfere.

[2016-04-20 15:50] nikolaykasyanov commented on #156
@Grubas7 I think I've found the culprit. It's a `UIAlertView` instance which remains after one of the unit tests. And FBSnapshotTestCase uses `keyWindow` since 2.1.0, and `keyWindow` in this case is some fancy subclass used by `UIAlertView` (`_UIAlertControllerShimPresenterWindow`) which screws `tintColor` completely.

[2016-04-20 16:07] nikolaykasyanov commented on #156
You can find sample project attached. Please use iPhone 6 iOS 8.4 simulator.

Run all tests (Cmd+U) to trigger the failure. Run `TestViewTests` in isolation and it would succeed.

[FBSnapshotSandbox.zip](https://github.com/facebook/ios-snapshot-test-case/files/228327/FBSnapshotSandbox.zip)

[2016-04-22 10:05] alper commented on #148
The entire thing does not build for me. Maybe there should be a guide how to setup a Swift project?
![rg_snapshottests swift 2016-04-22 12-05-15](https://cloud.githubusercontent.com/assets/72429/14738571/8cc46b12-0882-11e6-9aab-f1214c09349c.png)

[2016-04-26 19:35] Grubas7 commented on #156
@nikolaykasyanov Thanks! I'll take a look at this at the weekend.

[2016-04-26 23:08] nscoding commented on #156
@Grubas7 thanks for looking at this

[2016-05-03 11:25] danielgindi commented on #157
Any news on this? I apologize but we kind of rely on this :-)

[2016-05-04 16:04] nscoding commented on #157
I haven't figured this out yet, it was happening before 2.1.0 as well so I am not sure what is going on.

[2016-05-04 21:41] Grubas7 commented on #156
@nikolaykasyanov Sorry for late, but I checked your case.
I've been able to reproduce your scenario thanks to your sample!

I think the problem is not FBSnapshotTest it self, but UIAlertView which make a mess if view.
I fixed this by disabling animation for test with UIAlertView using `[UIView setAnimationsEnabled:NO];` in `-setUp`. Then you could turn them back on by `[UIView setAnimationsEnabled

[2016-05-05 08:10] nikolaykasyanov commented on #156
@Grubas7 thanks for you research & advice, I'll try it soon.

But I personally consider that as a violation of test isolation principle. It's not good when test results depend on external global state like current application's `keyWindow`.

[2016-05-05 09:07] Grubas7 commented on #156
True.

[2016-05-07 08:10] kuron99 commented on #148
I am hitting this problem, too. Any progress or update?

[2016-05-09 12:39] obuseme commented on #148
I'm hitting this problem as well.

[2016-05-09 17:59] nscoding commented on #148
Still waiting on cocoapods I am afraid

[2016-05-10 07:55] danielgindi commented on #157
Maybe try to invalidate the authorization token of Travis on Github, and issue a new one?

[2016-05-10 15:24] obuseme commented on #148
I was able to successfully install FBSnapshotTestCase with Carthage last night for a Swift project.  I wrote it up here if anyone is interested: http://cleanswifter.com/fbsnapshottestcase-installation-carthage/

[2016-05-11 23:22] fcy commented on #148
So CocoaPods 1.0 is live what is the issue it was supposed to fix? I'm getting the same problem using it.

[2016-05-12 09:34] deanWombourne opened #162 "Errors compiling with cocoapods 1.0.0"
When building using cocoapods 1.0.0 I get this error :

[code]

This worked fine in 0.39. I guess it's just a public/private header thing? I'll poke around and get more details.

[2016-05-12 11:36] deanWombourne commented on #162
OK, the demo app works fine with 1.0.0 so I guess it's something to do with my apps configuration.

[2016-05-12 14:01] crazyjooe commented on #162
I have the same issue, and it's reproducible by using `try`:

`pod _1.0.0_ try FBSnapshotTestCase, Product->Test`
`pod _0.39.0_ try FBSnapshotTestCase, Product->Test`

In fist case I get the same error, in second everything works fine. Just created issue on CocoaPods github (https://github.com/CocoaPods/CocoaPods/issues/5300), but they closed it and asked to post it here.

[2016-05-12 15:10] nscoding commented on #162
For me it does on one machine and it doesn't on another, I am not sure what is going on.

[2016-05-12 18:41] deanWombourne commented on #162
This issue doesn't seem to be in the current master, I can get my project to build by changing my podfile to be

[code]

Where `b898c25` is the commit on master I tried first - I'm being specific to give me ersatz pod versioning.

I guess the next release of this pod will include the changes that have fixed this?

[2016-05-13 14:29] crazyjooe commented on #162
Using master resolved my issue as well, I didn't notice that there was no release with 1.0.0-related changes.

[2016-05-16 20:52] oozbekta commented on #162
Since the Cocoapods 1.0 is out of Beta, can we release a new version to get the latest fix for that. b898c25acf22054d3425886b1991d1143bd8d54

[2016-05-17 19:31] fcy commented on #162
+1 for a new release with the fix

[2016-05-17 22:21] nscoding commented on #162
👍 ok I can cut a new release today

[2016-05-17 23:29] nscoding commented on #162
I still have build issues with 1.0.0, am I the only one?

<img width="1392" alt="screen shot 2016-05-17 at 4 29 28 pm" src="https://cloud.githubusercontent.com/assets/185995/15342730/96bf9230-1c4c-11e6-9d8c-29e2a43ac170.png">

[2016-05-17 23:41] fcy commented on #162
It is working for me. Steps I tried to reproduce your problem:

1. Download a zip of the current master
2. `cd project/FBSnapshotTestCaseDemo`
3. `pod install` using 1.0.0
4. Select `FBSnapshotTestCaseDemo` scheme, CMD+U

Build works and tests passes.

[2016-05-18 14:58] nscoding commented on #162
@fcy thanks that works for me too but can you bump the version in 'FBSnapshotTestCase.podspec' to 's.version = "2.1.1"' and do 'pod install'' again?

[2016-05-18 19:50] fcy commented on #162
@nscoding done and it still works.

[2016-05-19 17:54] GeroHerkenrath commented on #162
It seems the 2.1.1 version is not yet in the specs repository of cocoapods. A brand new library's default example project fails to test due to missing header files since it still uses 2.1.0. Changing the podfile to use the commit explicitly like above helps, but you probably want to release 2.1.1 so newly created pods don't have a faulty example project.
Maybe a maintainer can push the new podspec

[2016-05-19 17:59] nscoding commented on #162
yeah, I wanted to push a new version I can't validate the spec when doing pushing.

[2016-05-19 23:52] nscoding commented on #162
Here is the error message when I am trying to push a new spec.
[code]

@michallaskowski any ideas?

[2016-05-20 00:05] fcy commented on #162
Shot in the dark here because I haven't seen it but I have an open issue with CocoaPods related to XCTest, the dependency doesn't get propagated. I think it is a bug - specially because it used to work - but there is a discussion about it there: https://github.com/CocoaPods/CocoaPods/issues/5293

[2016-05-22 17:01] danielgindi commented on #159
Okay, now it seems that tvOS should be supported, but there's something new:
https://travis-ci.org/danielgindi/Charts

`A shell task (/usr/bin/xcrun xcodebuild -workspace /Users/travis/build/danielgindi/Charts/Charts/Carthage/Checkouts/ios-snapshot-test-case/FBSnapshotTestCase.xcworkspace -scheme FBSnapshotTestCase tvOS -configuration Release -sdk appletvos ONLY_ACTIVE_ARCH=NO BITCODE_GENERATION_M

[2016-05-29 13:49] orta commented on #162
Re: the search path, I had to add ` s.user_target_xcconfig = { 'FRAMEWORK_SEARCH_PATHS' => '$(PLATFORM_DIR)/Developer/Library/Frameworks' }` to Specta https://github.com/specta/specta/commit/f69bdfa4591cb59f612e1dc3f9a318df5ba83451

Think Xcode changed some of the default framework positions or something

[2016-05-31 04:38] nscoding commented on #162
Thank you for looking at this @orta, with this fix I managed to push a spec and 2.1.1 should fix this issue. Closing, please reopen if otherwise.

[2016-05-31 04:38] #162 closed

[2016-06-16 22:48] knishant90 opened #167 "error: include of non-modular header inside framework module 'FBSnapshotTestCase.FBSnapshotTestCase'"
I am trying to integrate the FBSnapshotTestCase with my project and I am facing a build error after I do pod install with the modified podfile. I added the following to my podfile:
`target "xyz" do`
`    pod "FBSnapshotTestCase"`
`end`

The error snapshot that I get in my project after doing a pod install and cmd-B in the project.
![screen shot 2016-06-16 at 3 45 23 pm](https://cloud.githubusercon

[2016-06-16 22:52] nscoding commented on #167
Can you use cocoapods 1.0.0, the error should disappear

[2016-06-16 22:56] knishant90 commented on #167
I cant update to 1.0.0, have other pod dependencies which will break. Can I point to an older version of fbsnapshottestcase,will that work?

[2016-06-16 23:05] nscoding commented on #167
yes it should, try 2.1.0 with 0.39

[2016-06-16 23:11] knishant90 commented on #167
I am not able to install "2.1.0" with pod install. My podfile:
`target "InvestorAppTests" do`
    `pod "FBSnapshotTestCase","~>2.1.0"`
`end`

It continues to use 2.1.1
Output:
`Using FBSnapshotTestCase (2.1.1)`

[2016-06-16 23:19] nscoding commented on #167
you are right I am not sure what's up with 2.1.0, 2.0.7 works

[code]

[2016-06-16 23:24] knishant90 commented on #167
Yeah , but in 2.0.7 I see the issue: #151 when I do a build, I can make the code change to make it work locally but jenkins will not like that. :)

[2016-06-17 03:56] LinkRober opened #168 "test don't support Masonry?"
I mean that it don't support Masonry?

[2016-06-17 12:51] Grubas7 commented on #168
It does. Masonry it's basically extra layer for NSLayoutConstraints.
What kind of problem you have. Write something more, or upload some sample.

[2016-06-17 16:58] knishant90 commented on #167
I think the message goes away if I change my podfile to:
`target "InvestorAppTests" do`
    `pod 'FBSnapshotTestCase',:git => 'https://github.com/facebook/ios-snapshot-test-case',:commit => '8e2acac'`
`end`

[2016-06-20 21:09] knishant90 commented on #167
I was able to resolve it using this in podfile:
`pod 'FBSnapshotTestCase', :git => 'https://github.com/facebook/ios-snapshot-test-case', :commit => '1639f694a2100cdeadf2f8fa14225cdd3759e75b'
`

[2016-06-20 21:14] nscoding commented on #167
that's a great tip, thanks for following up.

[2016-06-20 23:46] adamjernst commented on #159
I'm hitting this too.

[2016-06-29 16:19] #159 closed

[2016-06-30 23:58] nscoding commented on #168
Can you upload a sample project as @Grubas7 suggested? This will helps us track this down

[2016-06-30 23:59] nscoding commented on #148
great @fcy! I am going to close this one.

[2016-06-30 23:59] #148 closed

[2016-07-01 17:29] joeblau commented on #61
@dzenbot Can you post an snippet of what you did?

[2016-07-01 18:31] joeblau commented on #61
@dzenbot Thanks!

[2016-07-06 11:52] peacemoon opened #172 "Failed to get snapshot of WKWebView"
I have just updated all my UIWebView to WKWebView . Strangely FBSnapshotTestCase can not make snapshot of the webview anymore. I made a test project here to show the problem: https://github.com/peacemoon/TestFBWKWebView

[2016-07-09 01:34] LinkRober commented on #168
thx

[2016-07-14 15:49] taiber opened #173 "[Removed]"

[2016-07-14 15:51] taiber commented on #173
Wrong

[2016-07-14 15:51] #173 closed

[2016-07-17 11:57] abhishekmedipta opened #174 "Facebook>Chat panel"
There is a bug in facebook in chat, there is a chat panel in right side of facebook page, when there are lots of people are online and that time, if we scroll the scroll bar, then last user are not showing properly.

see the attachment..

![screenshot 100](https://cloud.githubusercontent.com/assets/16331239/14066344/a7891240-f464-11e5-9fe5-056cfe4a8257.png)

![screenshot 100 _3](https://cloud.gith

[2016-07-18 02:00] nscoding commented on #174
Hey @abhishekmedipta

Thanks for opening this is issue but this is certainly not the right place as this is an open source project about snapshot tests for iOS. I am going to close this issue but I have reported the bug internally on your behalf.

Thanks again.

[2016-07-18 02:00] #174 closed

[2016-07-18 22:35] joeblau commented on #167
@knishant90 When I try using that branch, I get the version error:

`[!] The platform of the target 'MyProjectSnapshotTests' (tvOS 9.0) is not compatible with 'FBSnapshotTestCase (2.1.0)', which does not support 'twos'`

[2016-07-27 10:02] samskiter commented on #133
@nscoding this confused me for the last 20 minutes as well.

[2016-08-08 19:54] tapi opened #177 "Allow configuration of test failure directory"
It would be great if the test failure directory could be configured in a manner similar to the reference images directory. This would make it trivial to expose failed test images as build artifacts in CI environments without having to parse Xcode build logs.

[2016-08-08 23:58] matibzurovski opened #178 "Cannot create snapshots in different screen sizes at the same time"
I want to verify that my views are correctly rendered for the following screen sizes: iPhone 4, iPhone 5, iPhone 6 & iPhone 6 Plus.

Therefore, I have a method I would call from each test that does something like this:
[code]

For most of my tests, this code works fine. However, in some particular cases, the snapshot is rendered only in `verifyIphone4(viewController)`. In the rest of the cases, a

[2016-08-09 19:38] Grubas7 commented on #178
@matibzurovski Could you upload some sample project to debug your problem?

[2016-08-12 21:30] reidmain commented on #177
Is the environment variable `IMAGE_DIFF_DIR` what you are looking for? https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestCase/FBSnapshotTestController.m#L266

[2016-08-15 13:07] tapi commented on #177
That looks exactly like what I'm looking for. Guess all this needs is a little documentation around it.

[2016-08-30 22:18] dagio opened #181 "Generate gallery of snapshots"
It would be nice to generate a list of snapshots such as Fastlane (https://github.com/fastlane/fastlane/tree/master/snapshot). Is there anything available already ?

[2016-09-07 12:00] mapedd opened #183 "Add instructions about how to integrate library without Cocoapods"
This is quite difficult (still didn't manage to succeed) and would be super useful for people who can't use cocoapods

[2016-09-08 12:36] dhoskins commented on #167
@knishant90 And I get this error

`Test target <MyProjectSnapshotTests> encountered an error (Early unexpected exit, operation never finished bootstrapping - no restart will be attempted) `

[2016-09-08 15:42] knishant90 commented on #167
@dhoskins try erasing the apps on simulator or Window-> Projects -> delete derived data. This might fix it.

[2016-09-08 15:42] knishant90 commented on #167
@joeblau : sorry for the late response, were you able to fix it?

[2016-09-08 16:08] joeblau commented on #167
I havne't gone back and verified it.  I can check later today or over the weekend and let you know

[2016-09-09 17:55] robseward opened #184 "iPhone 7 tests all fail"
I have some device agnostic tests I'm running on iOS 10. While we have every test passing on an iPhone 6, they all fail on an iPhone 7 in the simulator. Looking at the Diff image, you can see a very faint outline of the design elements. My casual inspection of the two rendered images hasn't found any differences.

Here's the diff image. (If you expand this you can see ghosting in the lower right.

[2016-09-09 18:08] nscoding commented on #184
oh... My guess would be Apple's wide gamut color profile. Maybe we can't have agnostic tests with iPhone 7 for this reason.

[2016-09-10 00:49] nscoding commented on #181
wow, that's a great plugin I didn't know about!

[2016-09-10 03:12] dzenbot opened #185 "Swift support"
Has anyone managed to use this framework directly using XCTest with Swift?

I get the same problem pointed out by @squarefrog in https://github.com/facebook/ios-snapshot-test-case/issues/69 which is more than 1 year old.

Using these simple wrapper for Objective-C macros did part of the job:
[code]

But I keep getting `"The operation couldn’t be completed. Permission denied"` when attempting to sa

[2016-09-10 05:32] #185 closed

[2016-09-12 10:44] garnett opened #186 "Xcode8 searches reference screenshots in wrong directory (_32 instead of _64)"
I'm using Xcode8 and getting following error:
`
-[swiftGift2Tests.AddVoucherTests testVoucherAddedState] : failed - Snapshot comparison failed: Optional(Error Domain=FBSnapshotTestControllerErrorDomain Code=1 "Unable to load reference image." UserInfo={NSLocalizedFailureReason=Reference image not found. You need to run the test in record mode, NSLocalizedDescription=Unable to load reference image.

[2016-09-12 20:39] dasdom commented on #81
I would love to see Carthage support.

[2016-09-12 20:44] pietbrauer commented on #81
@dasdom Carthage is supported, just not as a precompiled framework

[2016-09-12 20:48] dasdom commented on #81
@pietbrauer Thanks!

[2016-09-13 19:13] Grubas7 commented on #186
Probably it's not related with architecture.

**Short story short:**
Looks like you didn't record image.

**Short story long:**
Test first check your device architecture snapshot (64 bit for iPhones 6(s)/7) and then checks other architecture (32 bit). If compare between reference image and your view snapshot is OK your test pass. But if compare for first architecture fails framework try to check o

[2016-09-13 22:06] garnett commented on #186
@Grubas7 thanks for the explanation, I am not able to check it ATM but I think you are right.

[2016-09-13 22:06] #186 closed

[2016-09-14 12:51] Grubas7 commented on #168
Close this issue?

[2016-09-14 20:25] Grubas7 commented on #184
@robseward Mocking of `UITraitCollection.displayGamut` might fix the problem. But I'm not sure. Could you upload sample project to test?

[2016-09-16 09:09] parski opened #190 "Branch or release for Swift 2.3"
Hello!

My team uses [Nimble-Snapshots](https://github.com/ashfurrow/Nimble-Snapshots) in our Swift 2.2 product and FBSnapshotTestCase is one of it's dependencies. We want to be able to build our product with Xcode 8 and since upgrading our code base to Swift 3.0 will be a large task we have decided to first upgrade it to Swift 2.3.

Can you make a release or branch from commit `b48e77e3397298baf1

[2016-09-16 15:56] nscoding commented on #190
hmm, the code on master at the moment has code for both `>3` and `2.3` doesn't this work for you guys?

[2016-09-20 10:58] sarunw commented on #110
@getaaron what is your final circle.yml look like? I got the same problem where circleci keep looking in _32

[2016-09-20 11:25] orta commented on #181
Tooling people, tooling! ;)

We also have a gem to generate a webpage site of snapshot failures on S3 - https://github.com/ashfurrow/second_curtain

We mix it Danger to show the errors in GitHub: https://github.com/artsy/eigen/blob/master/Dangerfile#L64-L68

[2016-09-22 08:30] parski commented on #190
It works but the moment you commit to master our application might break. I would sleep a lot better knowing that I'm pointing to a release in my Podfile.

[2016-09-22 17:25] nscoding commented on #190
I just cut a spec:
- September 22nd, 10:24: Push for `FBSnapshotTestCase 2.1.3' initiated.
- September 22nd, 10:24: Push for `FBSnapshotTestCase 2.1.3' has been pushed (0.38892521 s).

[2016-09-22 17:25] #190 closed

[2016-09-22 17:31] yas375 commented on #190
@parski why you weren't able to use the latest code of this library after Swift 3 branch was merged in? It uses `#if swift(>=3)` and it should have been working with both Swift 2.3 and Swift 3.0

[2016-09-23 13:49] nate-m opened #195 "SWIFT_VERSION is missing from FBSnapshotTestCase.podspec"
Xcode 8 is still complaining about Swift syntax.  Can you please update the podspec to set the swift version?

[2016-09-25 00:12] appleguy opened #196 "iOS 7 support dropped without apparent compatibility issue?"
Hi all - and @nscoding, awesome handle!  A recent commit, d7edace, bumped the minimum iOS version to 8.0 without details on why this change was made.

This prevents AsyncDisplayKit from updating our dependency, which is a bummer because we'd like to use some new improvements without forking.

If there is a reason why 7.0 adds inconvenience to the framework's maintenance, that's understandable.  Bu

[2016-09-26 14:44] madhikarma commented on #195
+1 I'm unable to install the library correctly using master or v2.1.3 via CocoaPods into a Swift 3 based project and running CocoaPods v1.1rc2

[2016-09-26 17:38] Grubas7 commented on #195
@nate-m @madhikarma I suggest to **don't** use `SwiftSupport` subspec.
Thanks [this PR](https://github.com/facebook/ios-snapshot-test-case/pull/180) you can add extension to `FBSnapshotTestCase` and write 3 more lines with error handling.

[2016-09-26 17:49] madhikarma commented on #195
Thanks! I'll give that a try. I was able to get it to install without syntax / build errors using

 ```pod 'FBSnapshotTestCase', :git => 'git@github.com:facebook/ios-snapshot-test-case.git', :branch => 'swift-beta-3’```

I'm not sure how far behind this branch is from master or why the pods install successfully from this branch (rather than from master)

Also have you seen the .swift-version file

[2016-09-27 19:42] YMonnier opened #197 "New Release Swift 3.0"
Hello,

I Would like to know when you will put a new release on Cocoapods for Swift 3.0?

Thank you,

YM

[2016-09-27 19:43] nscoding commented on #197
Yes, I plan to do it (this week), I usually wait for few days.

[2016-09-27 19:44] nscoding commented on #196
Hey thanks for opening this issue, my problem was validating the spec to the point that I couldn't push a version. I will investigate this week.

[2016-09-27 19:45] YMonnier commented on #197
Ok perfect! Thank you :)

[2016-10-03 17:28] reidmain commented on #197
Any chance we are getting a Swift 3 release this week?

[2016-10-03 17:29] nscoding commented on #197
Yes, sorry for the delay I was very busy last week.

[2016-10-05 15:46] jwilliams-handy commented on #184
I'm seeing the same issue but I'm not doing device agnostic. I had some screens on iPhone 6s that passed on all versions of iOS and now all break on iPhone 7.

[2016-10-05 15:57] robseward commented on #184
When I find the time I will upload a project that reproduces, but I know some of my storyboards have different color spaces on some colors. Some have `sRGB IEC61996` and some have `Generic RGB`. I'm not sure how this happened, other than it was accidental, but I'm wondering if that's causing the problem.

[2016-10-05 16:36] Grubas7 commented on #184
@robseward @jwilliams-handy Sample projects would be awesome!

[2016-10-05 18:46] nugenttyler commented on #184
I'm also seeing the issue.  Seem to be seeing this consistently failing on tests that include image assets - looks like the comparison fails on the antialiased image edges.  I've tried overriding the traitCollection's displayGamut to force SRGB on the snapshot view; tried passing a similar traitCollection to the imageNamed: method when I fetch the image from my bundle; and I've also tried turning

[2016-10-06 19:17] nugenttyler commented on #184
I've forked the project and pushed to a branch here: https://github.com/nugenttyler/ios-snapshot-test-case/tree/tnugent/master/hardware_snapshot_bug

I added a test to FBSnapshotTestCaseDemoTests called testViewSnapshotWithImage that snapshots a UIImageView.  You should find that the test will pass when running on the iPhone 6s iOS10 simulator, but will fail on the iPhone 7 iOS 10 simulator.  I've

[2016-10-06 21:52] nscoding commented on #197
- October 6th, 14:50: Push for `FBSnapshotTestCase 2.1.4' initiated.
- October 6th, 14:50: Push for `FBSnapshotTestCase 2.1.4' has been pushed (0.417551121 s).

[2016-10-06 21:52] #197 closed

[2016-10-06 21:53] nscoding commented on #196
I had several validation issues with cocoapods but thankfully the latest prerelease allow me to validate a spec with iOS7.

- October 6th, 14:50: Push for `FBSnapshotTestCase 2.1.4' initiated.
- October 6th, 14:50: Push for `FBSnapshotTestCase 2.1.4' has been pushed (0.417551121 s).

[2016-10-06 21:53] #196 closed

[2016-10-06 21:54] nscoding commented on #195
I just cut 2.1.4 supports Swift 3, can you give it a try?

[2016-10-06 21:55] nscoding commented on #177
Yes, I would accept a PR that updates the documentation.

[2016-10-06 21:55] #177 closed

[2016-10-06 22:11] reidmain commented on #197
![You're awesome](https://media.giphy.com/media/ClcWrARkrq1GM/giphy.gif)

[2016-10-07 02:33] appleguy commented on #196
Thank you Patrick!

[2016-10-07 07:33] YMonnier commented on #197
Great perfect! Thanks for your time!

[2016-10-07 11:46] Grubas7 commented on #184
@nugenttyler Fantastic 🎉 ! I'll make some investigation on a days.

[2016-10-07 22:18] nugenttyler commented on #184
@Grubas7 Another data point - Found a case today where I'm not using a UIImageRenderingModeAlwaysTemplate image, but failing in a similar way.  However, this time it's failing when I switch between compiling Xcode 7.3.1 and Xcode 8, both on the same iOS 9.3 version.  Our CI build is still on 731, so had to track down the difference and it turns out the different Xcode versions produce slightly dif

[2016-10-10 20:58] jwilliams-handy commented on #184
Also, the difference seems so small that the test is failing saying the discrepancy is `> 0.00%`:

[code]

[2016-10-18 12:18] sarunw opened #200 "Where is failed image located?"
When a test failed, does this lib save failed image somewhere? I want to know which part of the image is not matched my reference.

[2016-10-18 13:30] Grubas7 commented on #200
No, there's no feature of saving failed views.
Currently you can just copy your reference image, record failed one and compare both manually.

[2016-10-20 20:22] neilkimmett commented on #200
If you look in the log output you will see a line like
[code]
If you have [Kaleidoscope](http://www.kaleidoscopeapp.com) installed you can paste that into Terminal to open the images side-by-side. If not open that folder and you'll find the original image, the failed image, and a diff of the two.

[2016-11-05 17:41] pres commented on #200
There is `IMAGE_DIFF_DIR`, see #177.
I created a PR to add it to the `README`.

[2016-11-06 14:20] Grubas7 commented on #200
@pres Nice! I'm using Snapshots for a long time and I didn't know about this feature.

[2016-11-10 07:50] lightsprint09 commented on #183
I found [this](http://cleanswifter.com/fbsnapshottestcase-installation-carthage/) while searching for it on the web

[2016-11-13 20:43] mbrandonw opened #202 "Customizing directory names"
Right now my test images are being stored in `{Framework_Name}.{View_Test_Name}`, and it's super verbose. Is there anyway to omit the framework name?

[2016-11-13 22:55] Grubas7 commented on #202
Did you check README, Installation with CocoaPods, point 2?

[2016-11-13 22:58] mbrandonw commented on #202
Yeah, as far as I can tell that allows me to select the root directory that all the test sub-directories are held, but not actually rename the subdirectories. So in my case I have a bunch of directories in `ReferenceImages/_64/{Framework_Name}.{View_Test_Name}`, where I would prefer to have `ReferenceImages/_64/{View_Test_Name}`.

Apologies if I have misunderstood, but still not quite sure how to

[2016-11-25 03:49] jakunico opened #203 "Pass IMAGE_DIFF_DIR to xcodebuild"
Hello everyone,

Our snapshot tests are failing on CI for some reason so we want to store the diff images in a special directory to see what's going on.

The problem is that we are being unable to pass in the `IMAGE_DIFF_DIR` to `xcodebuild` so it's read by `FBSnapshotTestCase` on:

[code]

We've tried setting it as an environment variable and then executing `xcodebuild` with no luck:

[code]

I r

[2016-11-25 20:13] jakunico commented on #203
Little update:

The snapshots were failing because the device list in our CI service (circleCI) were updated. We were specifying iOS 9.3 simulator in our `xcodebuild` which is no longer available. After passing in the updated simulator UUID tests started to pass again.

I was able to achieve what I wanted originally by editing the scheme and adding the environment variable there as described on th

[2016-11-25 20:13] #203 closed

[2016-11-29 13:59] orta commented on #195
We're using 2.1.4 and it's working 👍

[2016-12-02 09:03] bhargavg opened #204 "diff, failed and ref images exists even after test case passes"
Even after a previously failed snapshot test is passing, the `diff_*.png`, `failed_*.png` and `reference_*.png` files of that test case are still present in `IMAGE_DIFF_DIR` directory.

Can we remove these files once the snapshot test passes? or is there any other reason why we still keeping these files?

[2016-12-05 20:30] alanzeino opened #206 "Snapshots differ between Xcode and buck/xctool"
Posting this in case someone at Facebook has more insight into this issue — we routinely see issues where a snapshot that passes in Xcode doesn't pass in buck (via xctool).

Regenerating the snapshot in one setting (either Xcode or on the command line via Buck), invalidates it for the other setting.

Are we missing something? The difference is typically seen in `UIView`s with a corner radius set.

[2016-12-13 00:24] bdorfman-stripe opened #207 "Set CURRENT_PROJECT_VERSION correctly"
Currently the project version in Xcode/info.plist is just set to 1. It would be nice if this was the correct sdk version. I would like to inspect it at build time for tests to make sure people are running an up to date version and `carthage bootstrap` if not.

Thanks!

[2016-12-13 18:37] ryu2 commented on #206
Not sure of the exact cause, but we're deprecating  `xctool` in favor of `fbxctest` so it might be a good idea in any case to move as well.

cc: @lawrencelomax

[2016-12-13 21:41] ultramiraculous commented on #206
@ryu2 - That's actually awesome/sensible news!

[2016-12-14 16:51] lawrencelomax commented on #206
`fbxctest` does launch Simulators *slightly* differently, but I'd be surprised if this affects the output of the screen. This should be possible to test [by changing the options to be `0` here](https://github.com/facebook/FBSimulatorControl/blob/master/fbxctest/FBXCTestKit/Runners/FBXCTestSimulatorFetcher.m#L91)

[2016-12-15 22:35] alanzeino commented on #206
Thanks for the responses.

I took a go at using fbxctest by plugging it in to our buckconfig, unfortunately the issue persists, even with Lawrence's proposed change.

My guess is it's something we've done in our setup that is causing this.

[2016-12-22 06:33] alanzeino opened #209 "Setting FB_REFERENCE_IMAGE_DIR as a preprocessor macro broken in 2.1.4"
[This](https://github.com/facebook/ios-snapshot-test-case/commit/6a3f71fd69b7fab9d7aced48100199c104ac1719) change broke the ability to set `FB_REFERENCE_IMAGE_DIR` as a preprocessor macro. By moving all that code from a macro to  'debuggable code', the preprocessor step now always uses the default `""` as here:

[code]

[2016-12-22 11:26] LeeroyDing commented on #157
Have you checked out https://github.com/Carthage/Carthage/issues/1236?

[2016-12-23 11:04] peacemoon commented on #172
Maybe a workaround: https://github.com/lemonmojo/WKWebView-Screenshot

[2017-01-09 02:55] alanzeino commented on #206
We didn't end up finding out why buck/xctool was causing this issue.

However, for the affected tests we found that enabling `usesDrawViewHierarchyInRect` and re–generating the snapshots would fix it.

That can only be done on a case–by–case basis because `usesDrawViewHierarchyInRect` — which in turn uses `drawViewHierarchyInRect:afterScreenUpdates:` — is about 10x slower than the CoreGraphics def

[2017-01-09 02:55] #206 closed

[2017-01-10 10:14] mgehlen opened #211 "show compared screenshots in Jenkins"
Hello,

we are using snapshot-test-case wuth great success in our iOS testing - thank you very much for a splendid tool.

We use Jenkins in a Master-Slave setup as our build server and have several Macs as slaves in this setup. As it shockingly happens from time to time some tests actually fail.

In this case it would be helpful to quickly identify what happened if we had the compared screenshots

[2017-01-13 04:16] nemoeslovo commented on #211
There is a [fork of the Second Curtain](https://github.com/PSPDFKit-labs/second_curtain) library that can solve your problem. Original Second Curtain was designed in a way when screenshots were uploaded to the AWS, but this fork just collects pictures in folder with html generated, so you can archive this report on your CI.

[2017-01-16 07:45] mgehlen commented on #211
thank you, I will have a look at it.

[2017-01-25 11:10] pnikolaou opened #212 "ViewController snapshot from xib is the wrong size"
I am trying to run Snapshot tests for VCs of my project. It's quite a big project so I am using xib files instead of storyboards (plus I am part of a dev team). What I don't understand is why snapshot outcome is not resizing to match current simulator's size. Strangely, if I programmatically add it in a UIWindow then it works perfectly fine. Is it a known issue with `usesDrawViewHierarchyInRect`?

[2017-02-01 23:12] efirestone opened #215 "New Release Please?"
Hi! Any chance you could ship a new release with the last couple of merged fixes? I know they're small, but we'd like to be able to adopt them. It's been four months since the last release, and most of that without any change, so it seems like a stable time to make a release.

Thanks!

[2017-02-01 23:19] nscoding commented on #215
Hey, yes I have also a couple of PRs to review but been really busy elsewhere, I will plan some time.

[2017-02-03 23:11] nscoding commented on #215
Currently blocked from #210

[2017-02-08 19:27] alanzeino commented on #215
Updated #210

[2017-02-10 05:23] sukesh1989 opened #217 "Any way we can use this with XC UI Tests.?"
Any way we can use this with XC UI Tests.? I want to compare screenshots of app and determine the video rendering and player features. Can you please help? Can i pass XCUIELEMENT or XCUIAPPLICATION objects somehow?

[2017-02-27 15:07] amrutahoke opened #218 "Can we use FBSnapshotTestCase with XCTestCase?"
Can we use FBSnapshotTestCase with the XCTestCase? and can use FBSnapshotTestCase with the real time data? I tried this with the table view if the content of the table view change the test case fails. and should I push the snapshots on git repo or not?

[2017-03-06 16:34] cepages commented on #195
@orta I'm using `Using FBSnapshotTestCase (2.1.4)` and `Xcode 8.2.1` and it is still complaining about `SwiftSupport.swift` to convert it to swift 3.0.

Maybe it's me?

I got the error running `fastlane scan`, after using Xcode tool to convert `SwiftSupport.swift` to swift 3, it worked ( but obviously I changed one file in the pod so this will be reset to it original state )

[2017-03-11 06:46] alanzeino commented on #218
`FBSnapshotTestCase` is a subclass of `XCTestCase`. You can use anything in `XCTestCase`.

[2017-03-29 08:13] dcordero opened #220 "tvOS: screenshot generated before focus processing?"
Hi, I am trying to make use of this awesome library in a tvOS project. As result of which I am getting a really weird result.

It seems that the screenshots that I am getting from the tests are being generated right before the focus manager assign the focus to one of the views on the screen.

I created this simple project as an example with a couple of previews on the README to make it easier to u

[2017-03-31 20:56] mthole commented on #215
Bump.

[2017-04-02 10:07] adamsmaka opened #221 "Swift 3.1 generates Compiler Warning"
After upgrading to the newest Swift 3.1 and Xcode 8.3 there is a warning all the time in Issue Navigator.
<img width="951" alt="screen shot 2017-04-02 at 12 06 59 pm" src="https://cloud.githubusercontent.com/assets/22574704/24586288/f04d15e2-179c-11e7-8dca-1c71b57fa5ba.png">

[2017-04-11 02:10] medisean opened #223 "Run error"
I used in carthage. Then when run tests. It occurs error:

2017-04-11 10:08:37.433 SnapDemo[70214:38529003] Failed to load test bundle from file:///Users/zouliangming/Library/Developer/Xcode/DerivedData/SnapDemo-gxljashuxqwkkcabgwojzlpyduyt/Build/Products/Debug-iphonesimulator/SnapDemo.app/PlugIns/SnapDemoTests.xctest/: Error Domain=NSCocoaErrorDomain Code=3587 "dlopen_preflight(/Users/zouliangmin

[2017-04-11 08:35] medisean commented on #223
My mistake. Sorry.

[2017-04-11 08:35] #223 closed

[2017-05-04 15:40] #209 closed

[2017-05-05 14:09] brentleyjones commented on #215
#210 has been merged. Let's release a new version :smile:.

[2017-05-12 20:26] simonpac opened #225 "Testing views with asynchronous images.."
Hello, I am working on implementing ui testing with this framework.

I have a view which contains an image that does not immediately load. Therefore, in my reference image, I am seeing an empty image since it has not loaded yet.

What is the proper way to run a snapshot with this image loaded?

[2017-05-28 16:16] eugenehp opened #226 "No matching architecture in universal wrapper using Carthage"
I have framework installed using Carthage and linked inside XCUITest.
It compiles fine.
But when it runs it gives an error:
`FBSnapshotTestCase.framework/Frameworks/libswiftCore.dylib: no matching architecture in universal wrapper)`

<img width="1552" alt="screen shot 2017-05-28 at 09 15 26" src="https://cloud.githubusercontent.com/assets/1857263/26530247/3fa4dbb0-4386-11e7-812b-f9ddf0d4cac2.png">

[2017-05-30 14:36] jgongo opened #227 "ios-snapshot-test-case does not work properly if UIApperance attributes change intrinsic content size of view being tested"
I was having a problem regarding a view that wasn't being properly recorded when I changed an attribute of the view using the UIAppearance proxy, if that attribute would change the intrinsic content size of the view.

The culprit seems to be in the following method in [UIImage+Snapshot.m](https://github.com/facebook/ios-snapshot-test-case/blob/master/FBSnapshotTestCase/Categories/UIImage%2BSnapsho

[2017-05-30 14:46] jgongo commented on #227
I have just noticed that this also happens with any property that changes the intrinsic content size. For example, setting a large text that makes the view grow.

[2017-05-30 19:48] Grubas7 commented on #227
@jgongo could you provide sample app?

[2017-05-30 19:57] Grubas7 commented on #225
@simonpac There's no native support for asynchronous snapshot tests.
You could could consider 3 things:
- avoid asynchronous image downloading: in my team we mock images by providing sample data which contains URL to local images. Tests are always fast.
- add some notification / observer which will trigger `expectation.fulfill()` and after this make snapshot. May increase test time, may fail.
- us

[2017-05-30 20:01] Grubas7 commented on #184
@nugenttyler Tests also fails for reference images recorded on iOS 10.3 and then tested on 10.2 and lower. Same thing if you test in opposite direction. Investigation in progress...

[2017-05-30 20:06] Grubas7 commented on #217
Unit tests and UI tests inherits files from `XCTestCase`. Same as `FBSnapshotTestCase` so you should be able to take a snapshot in your UI test.

[2017-05-30 20:12] Grubas7 commented on #220
@dcordero You could try to disable animation on start of your tests:
[code]
Remember to enable back again after you finish.

If problem still occur drop me a line, and I'll try to check your sample.

[2017-05-30 20:14] Grubas7 commented on #200
@sarunw @nscoding Can you close this issue?

[2017-05-31 06:43] jgongo commented on #227
Here you have it. I'm using [Nimble-Snapshots](https://github.com/ashfurrow/Nimble-Snapshots) as a wrapper over `ios-snapshot-test-case`, but I've checked that the parameters are being correctly passed down. If they weren't, appearance properties wouldn't be applied.

Here you have the relevant piece of code:

[code]

I've added a border to the button so you can check its bounds and a width constr

[2017-05-31 07:08] dcordero commented on #220
@Grubas7 thanks for the feedback, that was a really great idea to disable the animation. On the other hand I gave it a try and it did not work. Still getting the same result.

I wonder if it could be an issue more related to the Focus Manager itself, which might be assigning the focus to the button after the screenshot is generated.

![testviewcontroller](https://cloud.githubusercontent.com/assets

[2017-05-31 07:37] jgongo commented on #227
I have just created a PR to solve the issue: #228

[2017-06-12 21:29] alextakahashi opened #229 "0 out of 0 tests passed, Inheritance from FBSnapshotTestCase vs XCTestCase"
I'm having a problem running tests using the FBSnapshotTestCase.  Working on a simple proof of concept I was able to run FBSnapshotTestCase without any problems.  Once I integrated this with my current project, I am not able to run tests instead it simply says I've run 0 out of 0 tests.

**Code Excerpt w/ FBSnapshotTestCase**
[code]

**Terminal Output**
[code]
Looking at the log, I can see that th

[2017-06-12 21:50] alextakahashi commented on #217
I was trying to implement `FBSnapshotTestCase` with my UITests, but I couldn't generate a view / layer from the `XCUIApplication`.  If I could simply get a snapshot of the simulator that would be great.

I haven't had a ton of experience working with `XCUIElement`.  I'd really appreciate any help!

[2017-06-16 18:23] alextakahashi commented on #229
Update! So I eventually got it to work, I ended up doing **Copy Files** to **Frameworks** as described in this post [Carthage Headaches](https://medium.com/@greesce/xcode-framework-testing-headaches-c41db4004930)

[2017-06-16 18:23] #229 closed

[2017-06-16 18:36] alextakahashi opened #231 "Testing View Across Devices in Simulator"
I know in the Realm UI and Snapshot Testing [Video](https://news.realm.io/news/cmdu-conf-luis-ascorbe-ui-and-snapshottesting/) Luis mentioned that we can test views across devices (iPhone5 vs iPhone 6+ etc).

I want to know which device I am running on within simulator, but when I print out the model name
[code]
It would just say I am running in Simulator.

I was following this Stack Overflow post

[2017-06-19 15:58] alanzeino commented on #231
Probably use `sysctl.h`, like this library does:

https://github.com/InderKumarRathore/DeviceUtil/blob/master/DeviceUtil.m

[2017-06-27 16:12] werediver opened #232 "Render in fixed resolution (dpi / context scale)"
At the moment the framework renders test images in the device-specific resolution (dpi / context scale).

[code]

To allow snapshot-tests to run on both 2x and 3x devices we record and store snapshots for both 2x and 3x devices. This takes time and loads the repository with snapshots identical up to dpi.

I wonder whether the framework will work correctly with a fixed context scale (e.g. 2x)? Are

[2017-06-28 08:42] werediver commented on #232
The pull-request #166 enables context scale manipulation, thus also allowing device-independent snapshot tests.

Still the question is whether it's practical to do fixed-scale / device-independent snapshot tests?

[2017-06-28 20:30] pres commented on #211
Just set the `IMAGE_DIFF_DIR` to a folder the Jenkins has access to and archive the folder in the Jenkins job.

[2017-07-19 02:44] rz-robsn opened #233 "Snapshot test cases not running on xcode 9 beta"
Hi there,

I wanted to run snapshot test cases on a simple new project created with Xcode 9 beta 3.

The project includes both `XCTestCase` test cases and `FBSnapshotTestCase` test cases. The problem is that when I run all the tests of the test target, only the `XCTestCase` test cases are ran (a bug very similar to #229). The only project setting I changed after I created, aside from adding the `F

[2017-08-08 17:42] Srividya86 opened #234 "How to capture hidden screenShot inAnimation screens"

[2017-08-11 04:36] alanzeino opened #235 "deviceAgnostic strictly enforces key window requirement unnecessarily"
In our testing, host applications are not a hard requirement for snapshot tests. @bgerstle added this in #137. Would you object to me changing this code to not raise an exception?

In our setup, we have thousands of snapshot tests without host applications. But we cannot use `deviceAgnostic` to have OS–specific snapshot file names because `fb_strictKeyWindow` raises an exception if there is no key

[2017-08-17 14:41] pahnev opened #236 "Square reference images with iOS 9 deployment target"
Hey, just tried to add this to my project but noticed that all the tests produced square reference images of size 1200x1200. After a long couple hours trying to figure out and comparing to test projects, I noticed that the deployment target was the issue.

Raising the deployment target of the project to iOS 9.1, would solve this, but that’s not possible yet.
Raising the test target’s deployment ha

[2017-08-30 17:16] macduy opened #237 "Unstable snapshot images despite running the same set up"
Running the same test in the same version of Xcode (8E3004b) and same version of Simulator (10.3.1) on two different machines can produce slightly different images (e.g. certain views being 1px taller).

This causes our snapshot tests to fail. Do you have insight why this could be happening and if there are recommendations on how to work around this?

[2017-09-01 13:46] FilipZawada opened #238 "My snapshot images are different than on my peer machines"
My peers' computers produced slightly different images than mine. This happened:
- on the same simulator device with same iOS version
- exactly same code
- everything is the same,
and yet, images are slightly different (mainly transparency).

Now, I finally found a reason. Months ago I set my `simulator > Debug > Graphics Quality Override > Low Quality`. While it should have been `device default`

[2017-09-01 13:49] #238 closed

[2017-09-04 15:04] fruitcoder commented on #226
FBSnapshotTestCase is actually a unit test, so this probably isn't supposed to work in a UITest target

[2017-10-09 14:24] jgongo commented on #227
Hi... is this project alive? I opened this issue more than 4 months ago, I provided a PR solving the issue, and yet no progress :(

[2017-10-09 14:29] nscoding commented on #227
Hey, I understand and I am really sorry for this. Unfortunately I recently archived the project as we no longer use this internally and deciding about API improvements without being a consumer is incredibly difficult. I am working on a solution though to provide a better owner for it. I'll keep you posted.

[2017-10-09 14:47] jgongo commented on #227
I'm curious... you no longer do view based testing? Or do you use anything else?

[2017-10-09 17:38] nscoding commented on #227
Our number of tests grew (>10k) and intentional changes were slowing us down so we built another system (similar to this one) that doesn't rely on XCTestCase. It simply records images and stores them in the DB. This runs on CI job and If there is a change, we file a task and bisect to the offending commit.

[2017-10-20 14:07] durul opened #239 "Why don't you publish new version ? and Why don't you merge pull requests ?"
Will you continue to contribute this library ?

[2017-10-20 15:03] durul commented on #237
I experienced same problem. I think the reason is Derived data. ios-snapshot-test-case keeps reference in Derived data and referenceImage files. Another machine does not have same references and referenceImages. If someone provide more accurate and official answer, I will appreciate.

[2017-10-20 15:13] durul opened #240 "Derived data strategies ?"
Can you please explain me what should I follow strategies for best accurate result ?

- Should I make cleanup Derived data before run existing test methods with recormode = false ?

- Shouldn't I make cleanup Derived data before run existing and pass test methods. Because If I make cleanup, they start doesn't work.

Could you explain best approach ?

thanks

[2017-10-22 03:16] Grubas7 commented on #239
https://github.com/facebookarchive/ios-snapshot-test-case/issues/227#issuecomment-335175385

[2017-10-26 12:19] freak4pc opened #241 "Facebook Archive? should we expect this to be deprecated?"
It seems this repo has been moved to the facebookarchive org.
Are you expecting to deprecate this library ? Many of us still use it, so it would be a good to get a fair warning.

Thank you :)

[2017-11-02 08:33] sarunw opened #242 "Taking multiple snapshots"
Is there anyways to test snapshot against multiple device and iOS version?

I want to snap view controller on multiple dimensions.

[2017-11-02 21:42] krbarnes commented on #242
The `isDeviceAgnostic` property enables you to do that.

[2017-11-02 21:43] krbarnes commented on #241
Maybe: https://github.com/facebookarchive/ios-snapshot-test-case/issues/227#issuecomment-335175385

[2017-11-03 08:45] freak4pc commented on #241
That's a shame to hear.

[2017-11-16 07:24] raji16 opened #243 "Carthage update hangs on cloning ios-snapshot-test-case"
Hi,
I am trying to update carthage using "carthage update --platform iOS" . It works well for sometime until it reaches to clone "*** Cloning ios-snapshot-test-case". At this point , carthage hangs and no response. don't know why it always sticks at ios-snapshot-test-case.

Carthage version which i am using is 0.11.0

[2017-11-25 16:07] skyweb07 commented on #241
Hey @freak4pc, because of this I've started a new project that aims do the same as `FBSnapshotTestCase`, if you want to take a look https://github.com/skyweb07/Snap.swift ;)

[2017-11-29 06:13] Noodlekim opened #244 "Path of edit scheme should not working."
Hello.

I am testing FBSnapshot for adjusting our project.
I found an issue about setting `Edit Scheme` on Xcode9.

When I set the path with `$(PROJECT_NAME)`, the testing is always fail without creating recording images.
[code]

So I've set paths without `$(PROJECT_NAME)`. It is working well.
I don't understand why it is not working.

I think it is better to check this issue or modify about setti

[2017-11-29 06:42] remlostime commented on #227
@nscoding Is it possible to share the timeline for new FBSnapshotTest framework? And will FB opensource it?

[2017-12-05 09:15] freak4pc commented on #227
@nscoding I imagine you won't Open source this new piece of software, but any chance you can give a quick rundown (or just notes) on what was the selected solution? How do you make snapshots of your Views/Layers without a dependency on XCTestCase? Sounds very interesting and I'd love the opportunity to dig deeper into it.

[2017-12-11 19:55] #239 closed

[2017-12-11 19:55] #240 closed

[2017-12-19 07:22] nscoding commented on #227
@freak4pc I want to write a lengthy post about it but I haven't found the time to do so. Generally speaking this system made it really hard for us to scale it because it requires having to record the screenshots for intended changes.

As our numbers of snapshot tests grew we needed a more async system that files tasks for changes instead of making the diffs land blocking. So our new infra is runni

[2017-12-19 08:46] jgongo commented on #227
@nscoding I understand that the rest of the world probably hasn't the needs of Facebook :) So I guess a lot of people would benefit from this pod still being available and maintained by someone. Do you have any plans for transferring its ownership or should we fork it to go ahead?

[2017-12-19 08:49] nscoding commented on #227
@jgongo yes I've been trying to do this for quite some time now and we just manage to finish it

https://github.com/facebookarchive/ios-snapshot-test-case/pull/245

[2017-12-19 09:22] freak4pc commented on #227
Thanks @nscoding  - First of all thank you so much for finding the time to reply. I really look forward to reading your article, when you get the time; whenever you publish it, would appreciate if you could share it here so other people coming from Google search can find it :)

This entire bit entirely makes sense. Our snapshot test cases are large at number and take up most of the time to a succe

[2017-12-20 10:17] lucasecf opened #246 "234"

[2017-12-20 10:17] #246 closed

[2017-12-20 10:23] lucasecf commented on #212
Just to mention I have that I have the same problem. I had a controller declared in a storyboard and it's snapshot was sized fine. After I changed the same controller to be in a xib, now it's generated snapshot is 1200 × 1200 (using iPhone 8 simulator)

[2018-01-11 22:58] kronik commented on #235
I have the same issue. Can't figure out how to run this test properly with deviceAgnostic flag enabled. Any clues?

[2018-01-12 00:04] alanzeino commented on #235
We have this fixed in our fork which we're hoping to open soon (#245). In the meantime, you can just remove the NSException in `fb_strictKeyWindow` but you'll also have to fork.

[2018-03-12 16:40] Heckscheibe commented on #241
also here is another link, apparently Uber took over the project:
https://github.com/uber/ios-snapshot-test-case

[2018-03-12 17:01] freak4pc commented on #241
Oh yeah, this is very old news by now :) I should've closed this a while ago.

[2018-03-12 17:01] #241 closed

[2018-06-24 20:57] acecilia commented on #217
See: https://medium.com/@joesusnick/snapshot-xcui-testing-6a16c7ccd47b for a implementation example

[2019-01-16 23:53] alanzeino commented on #81
Supported now in the new library: https://github.com/uber/ios-snapshot-test-case/pull/68

[2020-03-13 12:05] georgegillams opened #247 "iOS - forcing a UIView to have `userInterfaceStyle` produces strange snapshot results"
This seems to be an issue with XCTest/XCode as it happens even if I use native methods to convert a view to an image within a XCTest context, but I thought it would still be worth tracking here too, in case you have any ideas or workarounds.

Open radar bug: http://www.openradar.appspot.com/7404933

Essentially I have a test where I define two dynamic colours:

 - dynamicColor1 is green in dark mo

[2020-03-17 15:58] nscoding commented on #247
This repository has been archived, please open this PR here: https://github.com/uber/ios-snapshot-test-case

[2020-03-19 15:49] georgegillams commented on #247
Thanks for the heads-up. New issue opened here https://github.com/uber/ios-snapshot-test-case/issues/122

[2020-05-04 15:41] acecilia commented on #172
@antranapp I just hit this problem today. Can somebody confirm/deny it? Thanks :)

[2020-10-29 09:00] #217 closed

[2021-07-24 15:22] benchik1 opened #248 "Test"

[2021-11-23 04:00] #168 closed